<table>
    
    <caption>Geral:</caption>
    <tbody>
        
    <tr>
        <td>E-mail:</td>
        <td class="home__email">---</td>
    </tr>
    <tr>
        <td>Senha:</td>
        <td class="home__senha">---</td>
    </tr>
    <tr>
        <td>Nome</td>
        <td class="home__nome">---</td>
    </tr>
    <tr>
        <td>Sobrenome:</td>
        <td class="home__sobrenome">---</td>
    </tr>
    <tr>
        <td>Apelido:</td>
        <td class="home__apelido">---</td>
    </tr>
    <tr>
        <td>Gênero:</td>
        <td class="home__genero">---</td>
    </tr>
    <tr>
        <td>Nascimento:</td>
        <td class="home__nascimento">---</td>
    </tr>
    <tr>
        <td>Estado:</td>
        <td class="home__estado">---</td>
    </tr>
    <tr>
        <td>Acesso:</td>
        <td class="home__acesso">---</td>
    </tr>
    <tr>
        <td>Avatar:</td>
        <td class="home__avatar">---</td>
    </tr>
    <tr>
        <td>Instituição:</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Classe:</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Turma:</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Período:</td>
        <td>---</td>
    </tr>
    </tbody>
</table>


<table>
    <caption>Avatar:</caption>
    <tbody>
        
    <tr>
        <th>Parte</th>
        <th>Estilo</th>
        <th>Cor</th>
    </tr>
    <tr>
        <td>Pele</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Cabelo</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Olhos</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Boca</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Nariz</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Acessório</td>
        <td>---</td>
        <td>---</td>
    </tr>
    </tbody>
</table>