.aluno {
    // --------- Rosto -----------------

    #R {
        &1 {
            background-color: var(--R1);

            &::before {
                background-color: var(--R1);
            }
        }

        &2 {
            background-color: var(--R2);

            &::before {
                background-color: var(--R2);
            }
        }
        &3 {
            background-color: var(--R3);

            &::before {
                background-color: var(--R3);
            }
        }

        &4 {
            background-color: var(--R4);

            &::before {
                background-color: var(--R4);
            }
        }
        &5 {
            background-color: var(--R5);

            &::before {
                background-color: var(--R5);
            }
        }
    }

    // --------- Orelha -----------------

    #OrR {
        &1 {
            &::after {
                background-color: var(--R1-dark);
                box-shadow: var(--R1) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R1-dark);
                box-shadow: var(--R1) 0 0 0 4px;
            }
        }

        &2 {
            &::after {
                background-color: var(--R2-dark);
                box-shadow: var(--R2) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R2-dark);
                box-shadow: var(--R2) 0 0 0 4px;
            }
        }

        &3 {
            &::after {
                background-color: var(--R3-dark);
                box-shadow: var(--R3) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R3-dark);
                box-shadow: var(--R3) 0 0 0 4px;
            }
        }

        &4 {
            &::after {
                background-color: var(--R4-dark);
                box-shadow: var(--R4) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R4-dark);
                box-shadow: var(--R4) 0 0 0 4px;
            }
        }

        &5 {
            &::after {
                background-color: var(--R5-dark);
                box-shadow: var(--R5) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R5-dark);
                box-shadow: var(--R5) 0 0 0 4px;
            }
        }
    }

    // --------- Nariz -----------------

    #NR {
        &1 {
            &::after {
                background-color: var(--R1-dark);
            }
        }

        &2 {
            &::after {
                background-color: var(--R2-dark);
            }
        }

        &3 {
            &::after {
                background-color: var(--R3-dark);
            }
        }

        &4 {
            &::after {
                background-color: var(--R4-dark);
            }
        }

        &5 {
            &::after {
                background-color: var(--R5-dark);
            }
        }
    }

    // --------- Olhos -----------------

    #O1c {
        @mixin O1 {
            width: 15px;
            height: 14px;
            background-color: white;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                width: 12px;
                height: 13px;
                border-radius: 15px;
                background-color: var(--C1);
                position: absolute;
                top: 0px;
            }

            &-R {
                border-radius: 8px 0px 8px 0px;
            }

            &-L {
                border-radius: 0px 8px 0px 8px;
            }
        }

        &1 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O1);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O1);
                }
            }
        }

        &2 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O2);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O2);
                }
            }
        }

        &3 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O3);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O3);
                }
            }
        }

        &4 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O4);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O4);
                }
            }
        }

        &5 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O5);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O5);
                }
            }
        }
    }
    
    #O2c {
        @mixin O2 {
            width: 15px;
            height: 13px;
            background-color: white;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &-R {
                border-radius: 8px 8px 0px 0px;
                width: 15px;
                height: 10px;

                &::after {
                    content: "";
                    width: 9px;
                    height: 10px;
                    border-radius: 9px;
                    background-color: var(--C1);
                    position: absolute;
                    top: 0px;
                }
            }

            &-L {
                border-radius: 8px 8px 0px 0px;
                width: 15px;
                height: 10px;

                &::after {
                    content: "";
                    width: 9px;
                    height: 10px;
                    border-radius: 9px;
                    background-color: var(--C1);
                    position: absolute;
                    top: 0px;
                }
            }
        }

        &1 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O1);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O1);
                }
            }
        }

        &2 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O2);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O2);
                }
            }
        }

        &3 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O3);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O3);
                }
            }
        }

        &4 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O4);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O4);
                }
            }
        }

        &5 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O5);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O5);
                }
            }
        }
    }

    #O3c {
        @mixin O3 () {
            width: 15px;
            height: 13px;
            background-color: white;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                width: 12px;
                height: 13px;
                border-radius: 15px;
                background-color: var(--O1);
                position: absolute;
                top: 0px;
            }

            &-R {
                border-radius: 8px 0px 8px 0px;
                box-shadow: var(--C1) 1px -1px 0 1px;
            }

            &-L {
                border-radius: 0px 8px 0px 8px;
                box-shadow: var(--C1) -1px -1px 0 1px;
            }
        }

        &1 {

            @include O3;

            &-R {
                &::after {
                    background-color: var(--O1);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O1);
                }
            }
        }

        &2 {
            @include O3;

            &-R {
                &::after {
                    background-color: var(--O2);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O2);
                }
            }
        }
        
        &3 {
            @include O3;

            &-R {
                &::after {
                    background-color: var(--O3);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O3);
                }
            }
        }

        &4 {
            @include O3;

            &-R {
                &::after {
                    background-color: var(--O4);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O4);
                }
            }
        }

        &5 {
            @include O3;

            &-R {
                &::after {
                    background-color: var(--O5);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O5);
                }
            }
        }

    }
}

.aluno-head {
    // ----- Cabelo - parte principal/front ------------------------------------------------
    #C1c {
        @mixin C1($cor) {
            width: 100%;
            height: 55%;
            top: -12px;

            &::after {
                content: "";
                width: 30%;
                height: 52%;
                border-radius: 30px 30px 0px 30px;
                background-color: $cor;
                filter: brightness(1.7);
                position: absolute;
                bottom: 0px;
                right: 0px;
                z-index: -1;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 30px 0px 35px 0px;
                background-color: $cor;
                position: absolute;
            }
        }

        &1 {
            @include C1(var(--C1));
        }

        &2 {
            @include C1(var(--C2));
        }
        &3 {
            @include C1(var(--C3));
        }

        &4 {
            @include C1(var(--C4));
        }
        &5 {
            @include C1(var(--C5));
        }

        &6 {
            @include C1(var(--C6));
        }
        &7 {
            @include C1(var(--C7));
        }
    }

    #C2c {
        @mixin C2($cor) {
            width: 100%;
            height: 50%;
            top: -7px;

            &::after {
                content: "";
                width: 91%;
                height: 165%;
                clip-path: polygon(
                    0% 31%,
                    2% 21%,
                    8% 12%,
                    15% 6%,
                    28% 2%,
                    42% 0,
                    53% 0,
                    65% 3%,
                    75% 8%,
                    82% 14%,
                    88% 26%,
                    91% 41%,
                    90% 56%,
                    85% 67%,
                    83% 77%,
                    84% 85%,
                    87% 92%,
                    97% 100%,
                    81% 98%,
                    68% 92%,
                    55% 77%,
                    52% 65%,
                    50% 49%,
                    43% 35%,
                    35% 27%,
                    24% 23%,
                    14% 24%,
                    8% 31%
                );
                background-color: $cor;
                position: absolute;
                top: -23px;
                right: -20px;
                transform: rotate(336deg);
                z-index: -1;
                background-color: $cor;
            }

            &::before {
                content: "";
                clip-path: polygon(
                    0 66%,
                    4% 46%,
                    8% 34%,
                    13% 24%,
                    19% 17%,
                    26% 10%,
                    34% 4%,
                    45% 0,
                    58% 0,
                    70% 6%,
                    80% 13%,
                    89% 25%,
                    94% 32%,
                    98% 47%,
                    100% 65%,
                    100% 80%,
                    100% 100%,
                    96% 100%,
                    96% 95%,
                    62% 91%,
                    52% 52%,
                    55% 89%,
                    34% 89%,
                    35% 46%,
                    28% 90%,
                    6% 96%,
                    5% 100%,
                    0 100%
                );
                height: 100%;
                width: 100%;
                background-color: $cor;
                top: 0;
                position: absolute;
            }
        }

        &1 {
            @include C2(var(--C1));
        }

        &2 {
            @include C2(var(--C2));
        }
        &3 {
            @include C2(var(--C3));
        }
        &4 {
            @include C2(var(--C4));
        }
        &5 {
            @include C2(var(--C5));
        }
        &6 {
            @include C2(var(--C6));
        }
        &7 {
            @include C2(var(--C7));
        }
    }
}

// ----- parte de trás ou complemento do cabelo, se houver ----------------------------------------

#C2c {
    @mixin C2($cor) {
        display: flex;
        justify-content: center;

        &::after {
            content: "";
            width: 20px;
            height: 6px;
            background-color: var(--ls-btn-strong-blur);
            top: -39px;
            position: absolute;
            z-index: 1;
        }
    }
    &1 {
        @include C2(var(--ls-bg-strong));
    }

    &2 {
        @include C2(var(--ls-bg-strong));
    }
    &3 {
        @include C2(var(--ls-bg-strong));
    }

    &4 {
        @include C2(var(--ls-bg-strong));
    }
    &5 {
        @include C2(var(--ls-bg-strong));
    }

    &6 {
        @include C2(var(--ls-bg-strong));
    }
    &7 {
        @include C2(var(--ls-bg-strong));
    }
}
