<form class="cadastro-form" action="">
    <img src="../../assets/LS-Logo - Color.svg" alt="">
    <div class="cadastro-form-body">
        <section class="show-block">
            <h2>Sobre você</h2>
            <div class="form-row">
                <div class="form-col">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div class="form-col">
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" name="sobrenome" id="sobrenome">
                </div>
            </div>

            <div class="form-row">
                <div class="form-col">
                    <label for=" sobrenome">Data de nascimento:</label>
                    <input type="date" name="data" id="data">
                </div>
                <div class="form-col">
                    <label for="genero">Gênero:</label>
                    <select name="genero" id="genero">
                        <option value="" selected disabled hidden>escolha</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                    </select>
                </div>

                <div class="form-col">
                    <label for="estado">Estado:</label>
                    <select name="estado" id="estado">
                        <option value="" selected disabled hidden>escolha</option>
                        <option value="SP">São Paulo</option>
                        <option value="BA">Bahia</option>
                        <option value="MG">Minas Gerais</option>
                    </select>
                </div>
            </div>

            <h2>Sobre sua escola</h2>
            <div class="form-row">

                <div class="form-col">
                    <label for="intituição">Instituição:</label>
                    <select name="intituição" id="intituição">
                        <option value="" selected disabled hidden>escolha</option>
                        <option value="CTarget">Colégio Target</option>
                        <option value="CAngulo">Colégio Angulo</option>
                        <option value="CPasso">Colégio Passo</option>
                    </select>
                </div>
                <div class="form-col">
                    <label for="grau">Nível escolar:</label>
                    <select name="grau" id="grau">
                        <option value="" selected disabled hidden>escolha</option>
                        <option value="EF2">Educação Fundamental II</option>
                        <option value="EF1">Educação Fundamental I</option>
                        <option value="EI">Educação Infantil</option>
                    </select>
                </div>
                <div class="form-col">
                    <label for="periodo">Período:</label>
                    <select name="periodo" id="periodo">
                        <option value="" selected disabled hidden>escolha</option>
                        <option value="matutino">Matutino</option>
                        <option value="vespetino">Vespetino</option>
                    </select>
                </div>
                <div class="form-col">
                    <label for="classe">Classe:</label>
                    <select name="classe" id="classe">
                        <option value="" selected disabled hidden>escolha</option>
                        <option value="1">1ª Série</option>
                        <option value="2">2ª Série</option>
                        <option value="3">3ª Série</option>
                    </select>
                </div>
                <div class="form-col">
                    <label for="turma">Turma:</label>
                    <select name="turma" id="turma">
                        <option value="" selected disabled hidden>escolha</option>
                        <option value="A">Turma A</option>
                        <option value="B">Turma B</option>
                        <option value="C">Turma C</option>
                    </select>
                </div>
            </div>

        </section>
        <section>
                <h2>Curstomize seu avatar:</h2>
                <div class="custom">
                    <div class="custom-categories">
                        <div class="custom-category custom-category--active" onclick="changeTabCustom(this, 0)">
                            <span></span>
                            <p>Rosto</p>
                        </div>
                        <div class="custom-category" onclick="changeTabCustom(this, 1)">
                            <span></span>
                            <p>Cabelo</p>
                        </div>
                        <div class="custom-category" onclick="changeTabCustom(this, 2)">
                            <span></span>
                            <p>Olhos</p>
                        </div>
                        <div class="custom-category" onclick="changeTabCustom(this, 3)">
                            <span></span>
                            <p>Nariz</p>
                        </div>
                        <div class="custom-category" onclick="changeTabCustom(this, 4)">
                            <span></span>
                            <p>Boca</p>
                        </div>
                        <div class="custom-category" onclick="changeTabCustom(this, 5)">
                            <span></span>
                            <p>Acessório</p>
                        </div>
                    </div>
                    <div class="custom-itens">

                        <div class="custom-row custom-face show-flex">
                            <div id="R1" class="custom-item custom-item--selected" onclick="changeItemCustom(this)"></div>
                            <div id="R2" class="custom-item" onclick="changeItemCustom(this)"></div>
                            <div id="R3" class="custom-item" onclick="changeItemCustom(this)"></div>
                            <div id="R4" class="custom-item" onclick="changeItemCustom(this)"></div>
                            <div id="R5" class="custom-item" onclick="changeItemCustom(this)"></div>
                        </div>

                        <div class="custom-row custom-hair">

                            <div id="C0" class="custom-item custom-item--selected" onclick="changeItemCustom(this)"></div>
                            <div id="C1" class="custom-item" onclick="changeItemCustom(this)"></div>
                            <div id="C2" class="custom-item" onclick="changeItemCustom(this)"></div>


                            <div class="custom-colors">
                                <div id="c1" class="custom-colors-item custom-colors--selected" onclick="changeColorCustom(this)"></div>
                                <div id="c2" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c3" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c4" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c5" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c6" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c7" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            </div>
                        </div>

                        <div class="custom-row custom-eyes">

                            <div id="O1" class="custom-item custom-item--selected" onclick="changeItemCustom(this)"></div>
                            <div id="O2"  class="custom-item" onclick="changeItemCustom(this)"></div>
                            <div id="O3"  class="custom-item" onclick="changeItemCustom(this)"></div>

                            <div class="custom-colors">
                                <div id="c1" class="custom-colors-item custom-colors--selected" onclick="changeColorCustom(this)"></div>
                                <div id="c2"  class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c3"  class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c4"  class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                                <div id="c5"  class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            </div>
                        </div>

                        <div class="custom-row custom-nose">

                            <div id="N1" class="custom-item N1 custom-item--selected" onclick="changeItemCustom(this)"></div>
                            <div id="N2" class="custom-item N2" onclick="changeItemCustom(this)"></div>
                            <div id="N3" class="custom-item N3" onclick="changeItemCustom(this)"></div>
                            <div id="N4" class="custom-item N4" onclick="changeItemCustom(this)"></div>

                        </div>

                        <div class="custom-row custom-lip">

                            <div class="custom-item B1 custom-item--selected"></div>
                            <div class="custom-item B2"></div>
                            <div class="custom-item B3"></div>
                            <div class="custom-item B4"></div>
                            <div class="custom-item B5"></div>

                        </div>

                        <div class="custom-row custom-acessories">

                            <div class="custom-item A1 custom-item--selected"></div>
                            <div class="custom-item A2"></div>
                            <div class="custom-item A3"></div>
                            <div class="custom-item A4"></div>
                            <div class="custom-item A5"></div>
                            <div class="custom-item A6"></div>


                            <div class="custom-colors">
                                <div id="c1" class="custom-colors-item"></div>
                                <div id="c2" class="custom-colors-item"></div>
                                <div id="c3" class="custom-colors-item "></div>
                                <div id="c4" class="custom-colors-item c4"></div>
                                <div id="c5" class="custom-colors-item c5"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </section>
        <section>
            <h2>Credenciais de acesso:</h2>
        </section>
        <section></section>
        <section></section>



    </div>

    <div class="cadastro-form-footer">
        <button class="btn-weak" onclick="prevStep()">Voltar</button>
        <button class="btn-strong" onclick="nextStep()">Próximo</button>

    </div>

</form>


<picture class="cadastro-images">
    <div class="cadastro-images-1  opacity-show cadastro-img">
        <div class="astro-helmet">

            <div class="aluno silhouette">
                <div class="aluno-head">
                    <div id="C0c0" class="aluno-hair-front"></div>
                    <div class="aluno-eyes">
                        <div class="aluno-eyes-L"></div>
                        <div class="aluno-eyes-R"></div>
                    </div>
                    <div class="aluno-lip"></div>
                    <div class="aluno-nose" skin-color=""></div>
                    
                </div>
                <div class="aluno-ears"></div>
                <div id="C0c0" class="aluno-hair-back"></div>
            </div>
        </div>
        <img class="astro-body" src="../../assets/astro-body-EF2.svg" alt="">
    </div>

    <img class="cadastro-images-2 cadastro-img" src="" alt="">
    <img class="cadastro-images-3 cadastro-img" src="" alt="">
    <img class="cadastro-images-4 cadastro-img" src="" alt="">
</picture>