
<form action="" class="login-form">

    <img src="../../assets/LS-Logo - Color.svg" alt="">

    <label for="email">Login:</label>
    <input placeholder="exemple@email.com" type="email" name="email" id="email">

    <label for="password">Senha:</label>
    <input placeholder="*******"  type="password" name="password" id="password">

    <button class="form-btn-login btn-lite" type="submit">Login</button>
    <hr>
    <button class="form-btn-cadastro btn-strong" onclick="openCadastro()">Cadastre-se</button>

</form>

<picture class="login-svg">
    <img src="../../assets/login-ship-animated4.svg" alt="">
</picture>

