:root{

// -------- [BACKGROUNDS] ------------------------    
    --ls-bg-strong: #732E82;
    --ls-bg-lite: #732E82;


// -------- [BUTTONS] ------------------------
    --ls-btn-strong: #732E82;
    --ls-btn-strong-blur: #AB6CA2;
    --ls-btn-lite: #D6559A;
    --ls-btn-complete: #6EBD90;
    --ls-btn-weak: #C4C4C4;


// --------- [AVATAR] -------

    --R1: #E5C0B4;
    --R2: #d4a292;
    --R3: #b68575;
    --R4: #7c5345;
    --R5: #472a21;

    --R1-dark: #e39c9c;
    --R2-dark: #c48a77;
    --R3-dark: #925e4c;
    --R4-dark: #5f3a2e;
    --R5-dark: #331c15;
    
    --C1: #272220;
    --C2: #482314;
    --C3: #c92f2f;
    --C4: #e6ad34;
    --C5: #65d34f;
    --C6: #4baed4;
    --C7: #eb58ae;
    
// ----- Olhos 👀 -------

    --O1: #272220;
    --O2: #643e2f;
    --O3: #2565a1;
    --O4: #2f7729;
    --O5: #7a445f;


}