.ship{
    position: absolute;
    right: -50px;
    z-index: 1;

    #ship__fire{
        transform-origin: center right;
        // animation: fireShip 0.2s  infinite;
        // transform: scaleX(0.5);

    }

   
}

.ship__smoke{

    position: absolute;
    right: 80px;
    margin-bottom: 62px;
}


@keyframes fireShip{
    0%{
        transform: scaleX(0.8) translateX(0px);;
    }
    100%{transform: scaleX(1) translateX(30px);;}
}