
input{
    min-height: 35px;
    padding-left: 10px;
    border: 2px solid var(--ls-btn-weak);
    margin-bottom: 10px;
    border-radius: 5px;

    outline: none;
}

select{
    height: 35px;
    border: 2px solid var(--ls-btn-weak);
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    option{
        height: 35px;
        border: 2px solid var(--ls-btn-weak);

    }
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

