button{
    min-height: 40px;
    width: fit-content;
    min-width: 120px;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2px;
    font-weight: bold;
    padding: 0px 15px 0px 15px;
    background-color: darkgray;

    &:hover{
        filter: brightness(.9);
    }

    &[btn-style="weak"]{ background-color: var(--ls-btn-weak);}

    &[btn-style="lite"]{ background-color: var(--ls-btn-lite);}

    &[btn-style="strong"]{ background-color: var(--ls-btn-strong);}

    &[btn-style="complete"]{ background-color: var(--ls-btn-complete);}

}




// @mixin btn ($color) {

//     @if $color == strong{
//         background-color: var(--ls-btn-strong);
//     }

//     @if $color == lite{
//         background-color: var(--ls-btn-lite);
//     }

//     @if $color == weak{
//         background-color: var(--ls-btn-weak);
//     }

//     @if $color == complete{
//         background-color: var(--ls-btn-complete);
//     }
// }

// .btn-strong{ @include btn(strong); }

// .btn-lite{ @include btn(lite); }

// .btn-weak{ @include btn(weak); }

// .btn-weak{ @include btn(complete); }
