:root{

// -------- [BACKGROUNDS] ------------------------    
    --ls-bg-strong: #732E82;
    --ls-bg-lite: #865192;
    --ls-bg-weak: #C4C4C4;
    --ls-bg-grey: #999999;

// -------- [BUTTONS] ------------------------
    --ls-btn-strong: #732E82;
    --ls-btn-strong-blur: #AB6CA2;
    --ls-btn-lite: #D6559A;
    --ls-btn-complete: #6EBD90;
    --ls-btn-weak: #C4C4C4;
    --ls-red: #cf4343;


// --------- [AVATAR] -------


// --------- [SUIT] ---------
    --suit-lite: #d4c0d8;
    --suit-strong: #AB6CA2;

// ------- Pele 👤 --------
    --s1: #E5C0B4;
    --s2: #d4a292;
    --s3: #b68575;
    --s4: #7c5345;
    --s5: #58362b;

 // ------- Cabelo 💇‍♀️ --------   

    --H1: #1a1818;
    --H2: #482314;
    --H3: #d33f3f;
    --H4: #c58e19;
    --H5: #59b347;
    --H6: #0094cd;
    --H7: #eb58ae;
    
// ----- Olhos 👀 -------

    --O1: #1a1818;
    --O2: #3f251a;
    --O3: #12487a;
    --O4: #376832;
    --O5: #7a445f;






 --smartphone: "max-width: 600px";




}