.avatar__head[silhuette="true"]{
    filter: brightness(0);
    transition: filter 0.8s;
    transition-delay: 1s;
}

.avatar__head[silhuette="false"]{
    filter: brightness(1);
    transition: filter 2s;
    transition-delay: 1s;
}

// .avatar{
//     transform: scale(0.8);
// }


.avatar__head {
    
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // z-index: 1;

        &-front {
            width: 80%;
            height: 80%;
            border-radius: 80px 80px 60px 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: var(--ls-bg-weak);
            z-index: 1;
            bottom: 9%;
            // box-shadow: inset #ffffff2e -17px 4px 0 0;

            &::after {
                content: "";
                height: 20%;
                width: 25%;
                position: absolute;
                bottom: -15%;
                background-color: var(--ls-bg-weak);
            }

            &::before {
                content: "";
                height: 15%;
                width: 40%;
                position: absolute;
                bottom: -22%;
                background-color: var(--ls-bg-weak);
                border-radius: 0 0 25px 25px;
            }

            .avatar__eyes {
                width: 75%;
                height: 30%;
                // border: 1px solid orange;
                position: absolute;
                margin-top: 5%;
                display: flex;
                align-items: center;

                @mixin iris {
                    &::before {
                        content: "";
                        width: 70%;
                        height: 90%;
                        border-radius: 100%;
                        position: absolute;
                        background-color: var(--ls-bg-lite);
                        // top: 0;
                    }

                    &::after {
                        content: "";
                        width: 20%;
                        height: 30%;
                        border-radius: 100%;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.151);
                        // top: 0;
                    }
                }

                &-L {
                    width: 40%;
                    height: 100%;
                    background-color: white;
                    position: absolute;
                    left: 0%;
                    // border-radius: 20% 50% 40% 50%;
                    border-radius: 40% 50% 10% 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include iris;
                }

                &-R {
                    width: 40%;
                    height: 100%;
                    background-color: white;
                    position: absolute;
                    right: 0%;
                    // border-radius: 50% 20% 50% 40%;
                    border-radius: 50% 40% 50% 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include iris;
                }
            }

            .avatar__nose {
                width: 15%;
                height: 18%;
                position: absolute;
                bottom: 22%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                &::after {
                    content: "";
                    width: 100%;
                    height: 50%;
                    background-color: rgba(78, 8, 8, 0.363);
                    border-radius: 50px;
                    position: absolute;
                }
            }

            .avatar__mouth {
                width: 25%;
                height: 12%;
                position: absolute;
                // border: 1px solid red;
                bottom: 7%;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    content: "";
                    width: 90%;
                    height: 45%;
                    box-sizing: border-box;
                    border-bottom: 2px solid black;
                    border-right: 2px solid black;
                    border-left: 2px solid black;
                    position: absolute;
                    border-radius: 0 0 20px 20px;

                    @media (max-width: 767px) {
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                        border-left: 1px solid black;
                    }
                }
            }

            .avatar__hair {
                width: 100%;
                height: 90%;
                position: absolute;
                top: -20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        // -------------------------------------------------------------------------------------
        &-back {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 0;
            // border: 1px dashed blueviolet;

            .avatar__ears {
                width: 100%;
                height: 20%;
                background-color: var(--ls-bg-weak);
                position: absolute;
                border-radius: 50px;
                bottom: 30%;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    content: "";
                    height: 58%;
                    width: 90%;
                    background-color: rgba(65, 10, 10, 0.438);
                    position: absolute;
                    border-radius: 50px;
                }
            }
        }
}

// -------------- Skin Colors ----------------------
.avatar[skin-color="s1"] {
    .avatar__head-front {
        background-color: var(--s1);
        &::after {
            background-color: var(--s1);
        }
        &::before {
            background-color: var(--s1);
        }
    }

    .avatar__ears {
        background-color: var(--s1);
    }
}

.avatar[skin-color="s1"] {
    .avatar__head-front {
        background-color: var(--s1);
        &::after {
            background-color: var(--s1);
        }
        &::before {
            background-color: var(--s1);
        }
    }

    .avatar__ears {
        background-color: var(--s1);
    }
}

.avatar[skin-color="s2"] {
    .avatar__head-front {
        background-color: var(--s2);
        &::after {
            background-color: var(--s2);
        }
        &::before {
            background-color: var(--s2);
        }
    }

    .avatar__ears {
        background-color: var(--s2);
    }
}

.avatar[skin-color="s3"] {
    .avatar__head-front {
        background-color: var(--s3);
        &::after {
            background-color: var(--s3);
        }
        &::before {
            background-color: var(--s3);
        }
    }

    .avatar__ears {
        background-color: var(--s3);
    }
}

.avatar[skin-color="s4"] {
    .avatar__head-front {
        background-color: var(--s4);
        &::after {
            background-color: var(--s4);
        }
        &::before {
            background-color: var(--s4);
        }
    }

    .avatar__ears {
        background-color: var(--s4);
    }
}

.avatar[skin-color="s5"] {
    .avatar__head-front {
        background-color: var(--s5);
        &::after {
            background-color: var(--s5);
        }
        &::before {
            background-color: var(--s5);
        }
    }

    .avatar__ears {
        background-color: var(--s5);
    }
}

// -------------- Eyes styles ----------------------

.avatar__eyes[eyes-style="E1"] {
    .avatar__eyes {
        &-R {
            border-radius: 50% 20% 50% 40%;
        }
        &-L {
            border-radius: 20% 50% 40% 50%;
        }
    }
}

.avatar__eyes[eyes-style="E2"] {
    .avatar__eyes {
        &-R {
            border-radius: 50% 50% 15% 15%;
            height: 70%;

            &::before {
                width: 60%;
                height: 100%;
            }
        }
        &-L {
            border-radius: 50% 50% 15% 15%;
            height: 70%;

            &::before {
                width: 60%;
                height: 100%;
            }
        }
    }
}

.avatar__eyes[eyes-style="E3"] {
    .avatar__eyes {
        &-R {
            border-radius: 50% 0% 50% 0%;
            border-top: 3px solid black;
            border-right: 2px solid black;
            height: 90%;
            width: 40%;

            @media (max-width: 767px) {
                border-top: 1px solid black;
                border-right: 1px solid black;
            }

            &::before {
                height: 100%;
            }
        }
        &-L {
            border-radius: 0% 50% 0% 50%;
            border-top: 3px solid black;
            border-left: 2px solid black;
            height: 90%;
            width: 40%;

            @media (max-width: 767px) {
                border-top: 1px solid black;
                border-left: 1px solid black;
            }

            &::before {
                height: 100%;
            }
        }
    }
}

.avatar__eyes[eyes-style="E4"] {

    width: 60%;

    .avatar__eyes {
        &-R {

            border-top: 2px solid black;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-radius: 100px 100px 0% 0%;
            height: 35%;
            width: 35%;
            background-color: transparent;

            @media (max-width: 767px) {
                border-top: 1px solid black;
                border-right: 1px solid black;
                border-left: 1px solid black;
            }
            &::after {
                display: none;
            }

            &::before {
                height: 100%;
                display: none;
            }
        }
        &-L {
            border-top: 2px solid black;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-radius: 100px 100px 0% 0%;
            height: 35%;
            width: 35%;
            background-color: transparent;

            @media (max-width: 767px) {
                border-top: 1px solid black;
                border-left: 1px solid black;
                border-right: 1px solid black;
            }

            &::after {
                display: none;
            }

            &::before {
                height: 100%;
                display: none;
            }
        }
    }
}

.avatar__eyes[eyes-style="E5"] {
    width: 72%;

    .avatar__eyes {
        &-R {
            border-radius: 5px;
            height: 70%;

            &::before {
                width: 70%;
                height: 95%;
            }
        }
        &-L {
            border-radius: 5px;
            height: 70%;

            &::before {
                width: 70%;
                height: 95%;
            }
        }
    }
}

.avatar__eyes[eyes-style="E6"] {
    margin-top: 8%;
    width: 68%;

    .avatar__eyes {
        &-R {
            border-radius: 65% 0% 85% 3%;
            height: 67%;
            width: 35%;
            right: 2%;

            &::before {
                width: 60%;
                height: 85%;
            }
        }
        &-L {
            border-radius: 0% 65% 0% 85%;
            height: 67%;
            width: 35%;
            left: 2%;

            &::before {
                width: 60%;
                height: 85%;
            }
        }
    }
}

// -------------- Eyes Colors ----------------------

.avatar__eyes[eyes-color="c1"] {
    .avatar__eyes-R,
    .avatar__eyes-L {
        &::before {
            background-color: var(--O1);
        }
    }
}

.avatar__eyes[eyes-color="c2"] {
    .avatar__eyes-R,
    .avatar__eyes-L {
        &::before {
            background-color: var(--O2);
        }
    }
}

.avatar__eyes[eyes-color="c3"] {
    .avatar__eyes-R,
    .avatar__eyes-L {
        &::before {
            background-color: var(--O3);
        }
    }
}

.avatar__eyes[eyes-color="c4"] {
    .avatar__eyes-R,
    .avatar__eyes-L {
        &::before {
            background-color: var(--O4);
        }
    }
}

.avatar__eyes[eyes-color="c5"] {
    .avatar__eyes-R,
    .avatar__eyes-L {
        &::before {
            background-color: var(--O5);
        }
    }
}

// --------------- Nose Styles ------------------
.avatar__nose[nose-style="N1"] {
    &::after {
        content: "";
        width: 80%;
        height: 100%;
        border-radius: 50px;
        position: absolute;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
}

.avatar__nose[nose-style="N2"] {
    &::after {
        content: "";
        width: 80%;
        height: 70%;
        position: absolute;
        border-radius: 30%;
    }
}

// --------------- Mouth Styles ------------------
.avatar__mouth[mouth-style="M1"] {
    &::after {
        content: "";
        width: 70%;
        height: 55%;
        position: absolute;
        border-radius: 0 0 20px 20px;
        background-color: white;
        border: none;
    }
}

.avatar__mouth[mouth-style="M2"] {
    &::after {
        content: "";
        width: 30%;
        height: 90%;
        position: absolute;
        border-radius: 50px;
        background-color: white;
        border: none;
        bottom: 0;
    }
}

.avatar__mouth[mouth-style="M3"] {
    bottom: 4%;

    &::after {
        content: "";
        width: 90%;
        height: 5%;
        box-sizing: border-box;
        border-bottom: 2px solid black;
        position: absolute;
        top: 0;

        @media (#{$mobile}) {
            border-bottom: 1px solid black;
            
        }
    }

    &::before {
        content: "";
        width: 48%;
        height: 86%;
        box-sizing: border-box;
        position: absolute;
        background-color: var(--ls-red);
        bottom: 1px;
        border-radius: 0px 0px 10px 10px;
        // right: 1px;

        @media (#{$mobile}) {
            bottom: 0px;
        }
    }
}

.avatar__mouth[mouth-style="M4"] {
    bottom: 4%;

    &::after {
        content: "";
        width: 90%;
        height: 40%;
        box-sizing: border-box;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        border-left: 2px solid black;
        position: absolute;
        border-radius: 0 0 20px 20px;
        top: -2px;

        @media (#{$mobile}) {
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            border-left: 1px solid black;
            top: 0px;
        }
    }

    &::before {
        content: "";
        width: 31%;
        height: 44%;
        box-sizing: border-box;
        position: absolute;
        background-color: white;
        top: 0px;
        border-radius: 0px;

        @media (#{$mobile}) {
            top: 1px;
        }
    }
}

// ---------------- Hair --------------------------
.avatar__head {
    .avatar__head-front {
        // ------------- Hair front styles -------------------
        .avatar__hair[hair-style="H1"] {
            &::after {
                content: "";
                width: 95%;
                height: 63%;
                position: absolute;
                border-radius: 120px 0 150px 0;
                left: 1%;
                top: 0;
            }
            &::before {
                content: "";
                width: 30%;
                height: 45%;
                position: absolute;
                border-radius: 0px 30px 0px 30px;
                right: 0;
                top: 20%;
                filter: brightness(1.5);
            }
        }

        .avatar__hair[hair-style="H2"] {
            &::before {
                content: "";
                width: 85%;
                height: 30%;
                background-color: white !important;
                border-radius: 150px;
                top: 7%;
                position: absolute;
            }
            &::after {
                content: "";
                width: 110%;
                height: 65%;
                background-color: var(--H1);
                position: absolute;
                top: -0%;
                border-radius: 150px 150px 0 0;
                z-index: 1;
                clip-path: polygon(
                    0% 0%,
                    100% 0%,
                    100% 100%,
                    76% 100%,
                    68% 56%,
                    72% 100%,
                    37% 100%,
                    39% 66%,
                    34% 100%,
                    1% 100%
                );
            }
        }
        
        .avatar__hair[hair-style="H3"] {

            &::after {
                content: "";
                width: 106%;
                height: 110%;
                background-color: var(--H1);
                position: absolute;
                top: 2%;
                border-radius: 150px;
                z-index: 1;
                clip-path: polygon(0 76%, 3% 76%, 4% 57%, 11% 49%, 21% 43%, 32% 38%, 43% 35%, 52% 34%, 62% 35%, 71% 38%, 79% 41%, 89% 46%, 95% 52%, 96% 73%, 100% 72%, 100% 0%, 0% 0%);
            }
            
                         
        }

        .avatar__hair[hair-style="H4"] {

            &::before{
                content: '';
                width: 25%;
                height: 25%;
                border-radius: 100px;
                position: absolute;
                top: -10%;
                box-shadow: var(--H1) 1vw 0.3vw 0 0, var(--H1) -1vw 0.3vw  0 0, var(--H1) -1.9vw 1vw 0 0, var(--H1) 1.9vw 0.8vw 0 0, var(--H1) 2.5vw 1.4vw 0 0, var(--H1) -2.5vw 1.7vw 0 0, var(--H1) -2.7vw 2.4vw 0 -0.2vw, var(--H1) 2.7vw 2.2vw 0 -0.2vw;
            }

            &::after {
                content: "";
                width: 106%;
                height: 110%;
                background-color: var(--H1);
                position: absolute;
                top: 2%;
                border-radius: 150px;
                z-index: 1;
                clip-path: polygon(0 76%, 3% 76%, 4% 57%, 11% 49%, 21% 43%, 32% 38%, 43% 35%, 52% 34%, 62% 35%, 71% 38%, 79% 41%, 89% 46%, 95% 52%, 96% 73%, 100% 72%, 100% 0%, 0% 0%);             }
        }
        .avatar__hair[hair-style="H4"][hair-color="c1"]{
            &::before{
                box-shadow: var(--H1) 1vw 0.3vw 0 0, var(--H1) -1vw 0.3vw  0 0, var(--H1) -1.9vw 1vw 0 0, var(--H1) 1.9vw 0.8vw 0 0, var(--H1) 2.5vw 1.4vw 0 0, var(--H1) -2.5vw 1.7vw 0 0, var(--H1) -2.7vw 2.4vw 0 -0.2vw, var(--H1) 2.7vw 2.2vw 0 -0.2vw;
            }
        }
        .avatar__hair[hair-style="H4"][hair-color="c2"]{
            &::before{
                box-shadow: var(--H2) 1vw 0.3vw 0 0, var(--H2) -1vw 0.3vw  0 0, var(--H2) -1.9vw 1vw 0 0, var(--H2) 1.9vw 0.8vw 0 0, var(--H2) 2.5vw 1.4vw 0 0, var(--H2) -2.5vw 1.7vw 0 0, var(--H2) -2.7vw 2.4vw 0 -0.2vw, var(--H2) 2.7vw 2.2vw 0 -0.2vw;
            }
        }
        .avatar__hair[hair-style="H4"][hair-color="c3"]{
            &::before{
                box-shadow: var(--H3) 1vw 0.3vw 0 0, var(--H3) -1vw 0.3vw  0 0, var(--H3) -1.9vw 1vw 0 0, var(--H3) 1.9vw 0.8vw 0 0, var(--H3) 2.5vw 1.4vw 0 0, var(--H3) -2.5vw 1.7vw 0 0, var(--H3) -2.7vw 2.4vw 0 -0.2vw, var(--H3) 2.7vw 2.2vw 0 -0.2vw;
            }
        }
        .avatar__hair[hair-style="H4"][hair-color="c4"]{
            &::before{
                box-shadow: var(--H4) 1vw 0.3vw 0 0, var(--H4) -1vw 0.3vw  0 0, var(--H4) -1.9vw 1vw 0 0, var(--H4) 1.9vw 0.8vw 0 0, var(--H4) 2.5vw 1.4vw 0 0, var(--H4) -2.5vw 1.7vw 0 0, var(--H4) -2.7vw 2.4vw 0 -0.2vw, var(--H4) 2.7vw 2.2vw 0 -0.2vw;
            }
        }
        .avatar__hair[hair-style="H4"][hair-color="c5"]{
            &::before{
                box-shadow: var(--H5) 1vw 0.3vw 0 0, var(--H5) -1vw 0.3vw  0 0, var(--H5) -1.9vw 1vw 0 0, var(--H5) 1.9vw 0.8vw 0 0, var(--H5) 2.5vw 1.4vw 0 0, var(--H5) -2.5vw 1.7vw 0 0, var(--H5) -2.7vw 2.4vw 0 -0.2vw, var(--H5) 2.7vw 2.2vw 0 -0.2vw;
            }
        }
        .avatar__hair[hair-style="H4"][hair-color="c6"]{
            &::before{
                box-shadow: var(--H6) 1vw 0.3vw 0 0, var(--H6) -1vw 0.3vw  0 0, var(--H6) -1.9vw 1vw 0 0, var(--H6) 1.9vw 0.8vw 0 0, var(--H6) 2.5vw 1.4vw 0 0, var(--H6) -2.5vw 1.7vw 0 0, var(--H6) -2.7vw 2.4vw 0 -0.2vw, var(--H6) 2.7vw 2.2vw 0 -0.2vw;
            }
        }
        .avatar__hair[hair-style="H4"][hair-color="c7"]{
            &::before{
                box-shadow: var(--H7) 1vw 0.3vw 0 0, var(--H7) -1vw 0.3vw  0 0, var(--H7) -1.9vw 1vw 0 0, var(--H7) 1.9vw 0.8vw 0 0, var(--H7) 2.5vw 1.4vw 0 0, var(--H7) -2.5vw 1.7vw 0 0, var(--H7) -2.7vw 2.4vw 0 -0.2vw, var(--H7) 2.7vw 2.2vw 0 -0.2vw;
            }
        }
        .avatar__hair[hair-style="H5"] {

            &::before{
                content: '';
            }

            &::after {
                content: "";
                width: 106%;
                height: 110%;
                background-color: var(--H1);
                position: absolute;
                top: 2%;
                border-radius: 150px;
                z-index: 1;
                clip-path: polygon(0 76%, 3% 76%, 4% 57%, 13% 57%, 25% 55%, 39% 49%, 48% 42%, 55% 35%, 60% 41%, 67% 46%, 76% 49%, 90% 49%, 94% 52%, 96% 73%, 100% 72%, 100% 0%, 0% 0%);
        }
        }

        .avatar__hair[hair-style="H6"] {

            &::before{
                content: '';
            }

            &::after {

                content: "";
                width: 110%;
                height: 65%;
                background-color: var(--H1);
                position: absolute;
                top: -0%;
                border-radius: 150px 150px 0 0;
                z-index: 1;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 76% 100%, 68% 56%, 72% 100%, 37% 100%, 39% 66%, 34% 100%, 1% 100%);
            
            }
        }

    }
    // ------------- Hair back styles -------------------
    .avatar__head-back {
        .avatar__hair[hair-style="H2"] {
            &::after {
                content: "";
                width: 55%;
                height: 45%;
                background-color: var(--H1);
                position: absolute;
                top: -2%;
                right: -30%;
                transform: rotate(360deg);
                clip-path: polygon(
                    0% 30%,
                    3% 21%,
                    8% 14%,
                    13% 10%,
                    21% 3%,
                    32% 1%,
                    42% 1%,
                    53% 4%,
                    60% 9%,
                    67% 17%,
                    73% 24%,
                    78% 35%,
                    79% 48%,
                    78% 68%,
                    77% 81%,
                    78% 90%,
                    83% 96%,
                    91% 100%,
                    74% 99%,
                    63% 95%,
                    54% 90%,
                    47% 83%,
                    40% 73%,
                    35% 63%,
                    31% 53%,
                    29% 44%,
                    25% 34%,
                    19% 28%,
                    14% 28%,
                    10% 31%,
                    8% 36%,
                    0% 37%
                );
            }

            &::before {
                content: "";
                width: 55%;
                height: 45%;
                background-color: var(--H1);
                position: absolute;
                top: -2%;
                left: -30%;
                transform: rotate(360deg) scaleX(-1);
                clip-path: polygon(
                    0% 30%,
                    3% 21%,
                    8% 14%,
                    13% 10%,
                    21% 3%,
                    32% 1%,
                    42% 1%,
                    53% 4%,
                    60% 9%,
                    67% 17%,
                    73% 24%,
                    78% 35%,
                    79% 48%,
                    78% 68%,
                    77% 81%,
                    78% 90%,
                    83% 96%,
                    91% 100%,
                    74% 99%,
                    63% 95%,
                    54% 90%,
                    47% 83%,
                    40% 73%,
                    35% 63%,
                    31% 53%,
                    29% 44%,
                    25% 34%,
                    19% 28%,
                    14% 28%,
                    10% 31%,
                    8% 36%,
                    0% 37%
                );
            }
        }

        .avatar__hair[hair-style="H5"] {

            &::before{
                content: '';
                width: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                z-index: -1;
                top: 26%;
                height: 73%;
                clip-path: polygon(0% 72%, 3% 85%, 5% 90%, 14% 100%, 11% 89%, 16% 100%, 29% 100%, 55% 100%, 78% 100%, 81% 91%, 80% 100%, 89% 96%, 93% 90%, 94% 79%, 95% 92%, 100% 75%, 100% 58%, 91% 0, 10% 0, 0 56%);
                background-color: var(--ls-bg-weak);

            }
        }

        .avatar__hair[hair-style="H6"] {

            &::before{
                content: '';
                width: 100%;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                z-index: -1;
                top: 26%;
                height: 110%;
                clip-path: polygon(0% 72%, 3% 85%, 5% 90%, 14% 100%, 11% 89%, 16% 100%, 29% 100%, 55% 100%, 78% 100%, 81% 91%, 80% 100%, 89% 96%, 93% 90%, 94% 79%, 95% 92%, 100% 75%, 100% 58%, 91% 0, 10% 0, 0 56%);

            }
        }
    }

    // ------------- Hair colors -------------------
    .avatar__head-back,
    .avatar__head-front {
        .avatar__hair[hair-color="c1"] {
            &::after {
                background-color: var(--H1);
            }
            &::before {
                background-color: var(--H1);
            }
        }

        .avatar__hair[hair-color="c2"] {
            &::after {
                background-color: var(--H2);
            }
            &::before {
                background-color: var(--H2);
            }


        }

        .avatar__hair[hair-color="c3"] {
            &::after {
                background-color: var(--H3);
            }
            &::before {
                background-color: var(--H3);
            }
        }

        .avatar__hair[hair-color="c4"] {
            &::after {
                background-color: var(--H4);
            }
            &::before {
                background-color: var(--H4);
            }
        }

        .avatar__hair[hair-color="c5"] {
            &::after {
                background-color: var(--H5);
            }
            &::before {
                background-color: var(--H5);
            }
        }

        .avatar__hair[hair-color="c6"] {
            &::after {
                background-color: var(--H6);
            }
            &::before {
                background-color: var(--H6);
            }
        }

        .avatar__hair[hair-color="c7"] {
            &::after {
                background-color: var(--H7);
            }
            &::before {
                background-color: var(--H7);
            }
        }
    }
}

@mixin flexAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar__body {
    display: flex;
    justify-content: center;

    .body__main {
        width: 40%;
        height: 40%;
        // border: 1px solid red;
        position: absolute;
        display: flex;
        justify-content: center;

        .avatar__helmet{
            width: 128%;
            height: 96%;
            background-color: var(--suit-strong);
            opacity: 0.6;
            border: 5px solid white;
            position: absolute;
            border-radius: 200px;
            z-index: 1;
            top: -90%;

            @media (max-width: 767px) {
                border: 2px solid white;
            }

            &::after{
                content: '';
                width: 60%;
                height: 60%;
                border-radius: 100px;
                background-color: var(--suit-strong);
                position: absolute;
                top: 7%;
                right: 7%;
                filter: brightness(1.05);
            }
        }

        .avatar__suit {
            width: 70%;
            height: 80%;
            background-color: var(--suit-lite);
            position: absolute;
            border-radius: 50px 50px 100px 100px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: '';
                width: 90%;
                height: 5%;
                background-color: var(--suit-strong);
                position: absolute;
                top: -2.5%;
                border-radius: 20px;
            }

            &-detail{
                width: 100%;
                height: 15%;
                background-color: var(--suit-lite);
                filter: brightness(0.9);
                @include flexAlignCenter();

                &::after{
                    content: '';
                    width: 30%;
                    height: 90%;
                    background-color: var(--suit-lite);
                    position: absolute;
                    border-radius: 10px;
                    border: 8px solid var(--suit-strong);

                    @media (max-width: 767px) {
                        border: 3px solid var(--suit-strong);
                        border-radius: 3px;
                    }
                    
                }
            }
        }

        .avatar__arm {
            @mixin arm {
                width: 70%;
                height: 20%;
                background-color: var(--suit-lite);
                position: absolute;
                border-radius: 150px;
            }

            &-R {
                @include arm;
                right: -30%;
                transform-origin: 20% center;
            }

            &-L {
                @include arm;
                left: -30%;
                transform-origin: 80% center;
            }
        }

        .avatar__forearm {
            @mixin forearm {
                width: 100%;
                height: 100%;
                background-color: var(--suit-lite);
                position: absolute;
                border-radius: 150px;
            }

            &-R {
                @include forearm;
                right: -65%;
                transform-origin: 15% center;
            }

            &-L {
                @include forearm;
                left: -65%;
                transform-origin: 85% center;
            }
        }

        .avatar__hand {

            @mixin finger($side) {
                width: 70%;
                height: 25%;
                background-color: var(--suit-strong);
                position: absolute;
                #{$side}: -45%;
                border-radius: 30px;
            }
            
            @mixin hand {
                width: 50%;
                height: 100%;
                background-color: var(--suit-strong);
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;

            }

            &-R {
                @include hand;
                right: -10%;
                transform-origin: 20% center;
                border-radius: 0 30% 30% 0;

                i{
                    &:nth-child(1){
                        @include finger(right);
                        top: 0;
                    }
                    &:nth-child(2){
                        @include finger(right);
                    }
                    &:nth-child(3){
                        @include finger(right);
                        bottom: 0;
                    }
                    &:nth-child(4){
                        @include finger(right);
                        top: -3%;
                        left: 45%;
                        height: 40%;
                        width: 65%;
                        border-radius: 20px;
                        transform-origin: left center;
                        transform: rotate(-45deg);
                    }
                }
            }

            &-L {
                @include hand;
                left: -10%;
                transform-origin: 80% center;
                border-radius: 30% 0 0 30%;

                i{
                    &:nth-child(1){
                        @include finger(left);
                        top: 0;
                    }
                    &:nth-child(2){
                         @include finger(left);
                    }
                    &:nth-child(3){
                         @include finger(left);
                         bottom: 0;
                    }
                    &:nth-child(4){
                        
                         @include finger(left);
                         margin-left: auto;
                         top: -3%;
                         right: 45%;
                         height: 40%;
                         width: 65%;
                         border-radius: 20px;
                         transform-origin: right center;
                         transform: rotate(45deg);

                    }
                }
            }
        }

        .avatar__leg {
            @mixin leg {
                width: 30%;
                height: 70%;
                background-color: var(--suit-lite);
                position: absolute;
                border-radius: 150px;
                bottom: -18%;
                transform-origin: center 15%;
            }

            &-R {
                @include leg;
                right: 15%;
            }

            &-L {
                @include leg;
                left: 15%;
            }
        }

        .avatar__tibia {
            @mixin tibia {
                width: 100%;
                height: 100%;
                background-color: var(--suit-lite);
                position: absolute;
                border-radius: 150px;
                bottom: -70%;
                transform-origin: center 15%;
            }

            &-R {
                @include tibia;
            }

            &-L {
                @include tibia;
            }
        }

        .avatar__feet {
            @mixin feet {
                width: 100%;
                height: 40%;
                background-color: var(--suit-strong);
                position: absolute;
                transform-origin: 20% center;
                bottom: -2%;

                &::after {
                    content: "";
                    width: 90%;
                    height: 30%;
                    position: absolute;
                    bottom: 0;
                    background-color: var(--suit-strong);
                }
            }

            &-R {
                @include feet;

                &::after {
                    right: -40%;
                    border-radius: 0 100px 0 0;
                }
            }

            &-L {
                @include feet;

                &::after {
                    right: -40%;
                    border-radius: 0 100px 0 0;
                }
            }
        }
    }
}



.avatar[pose="floating"]{

    .avatar__arm{

        &-R{
            transform: rotate(40deg);
            animation: armR 5s ease alternate infinite;
            

            @keyframes armR {
                0%{transform: rotate(40deg);}
                100%{transform: rotate(50deg);}
            }
        }
        &-L{
            transform: rotate(-10deg);
            animation: armL 3s ease alternate infinite;

            @keyframes armL {
                0%{transform: rotate(-10deg);}
                100%{transform: rotate(0deg);}
            }
        }
    }

    .avatar__forearm{

        &-R{
            transform: rotate(-60deg);
        }
        &-L{
            transform: rotate(40deg);
        }
    }

    .avatar__leg{

        &-R{
            transform: rotate(-25deg);
            animation: legR 3s ease alternate infinite;

            @keyframes legR {
                0%{transform: rotate(-25deg);}
                100%{transform: rotate(-15deg);}
            }
        }
        &-L{
            transform: rotate(-5deg);
            animation: legL 5s ease alternate infinite;

            @keyframes legL {
                0%{transform: rotate(-5deg);}
                100%{transform: rotate(5deg);}
            }
        }
    }

    .avatar__tibia{

        &-R{
            transform: rotate(20deg);
            animation: tibiaR 3s ease alternate infinite;

            @keyframes tibiaR {
                0%{transform: rotate(20deg);}
                100%{transform: rotate(25deg);}
            }
        }
        &-L{
            transform: rotate(25deg);
        }
    }


}

.avatar[pose="faceCustom"]{

    
    animation: faceCustom 2s ease both!important;

    .avatar__arm{

        &-R{
            animation: armCustomR 2s ease both;
        }

        &-L{
            animation: armCustomL 2s ease both;
        }
    }

    .avatar__forearm{

        &-R{
            animation: forearmCustomR 2s ease both;
        }

        &-L{
            animation: forearmCustomL 2s ease both;
        }
    }

    .avatar__helmet{
        animation: openHelmet 1s both;
        animation-delay: 1s;


    }



    
    .avatar__leg{

        &-R{
            transform: rotate(-25deg);
            animation: legR 3s ease alternate infinite;

            @keyframes legR {
                0%{transform: rotate(-25deg);}
                100%{transform: rotate(-15deg);}
            }
        }
        &-L{
            transform: rotate(-5deg);
            animation: legL 5s ease alternate infinite;

            @keyframes legL {
                0%{transform: rotate(-5deg);}
                100%{transform: rotate(5deg);}
            }
        }
    }

    .avatar__tibia{

        &-R{
            transform: rotate(20deg);
            animation: tibiaR 3s ease alternate infinite;

            @keyframes tibiaR {
                0%{transform: rotate(20deg);}
                100%{transform: rotate(25deg);}
            }
        }
        &-L{
            transform: rotate(25deg);
        }
    }


@keyframes openHelmet {
        0%{clip-path: ellipse(50% 50% at 50% 50%);} 
        100%{clip-path: ellipse(50% 0% at 50% 99%);} 
}

@keyframes faceCustom {
 0%{transform: translateY(0%) scale(1);}
 100%{transform: translateY(100%) scale(2.5);}
 
}

@media (max-width: 767px) {
    @keyframes faceCustom {
        0%{transform: translateY(0%) scale(1);}
        100%{transform: translateY(180%) scale(5);}
        
       }
    
}

@keyframes armCustomR {
 0%{transform: rotate(40deg);}
 100%{transform: rotate(52deg);}
}

@keyframes armCustomL {
 0%{transform: rotate(-10deg);}
 100%{transform: rotate(-52deg);}
}

@keyframes forearmCustomR {
 0%{transform: rotate(-40deg);}
 100%{transform: rotate(0deg);}
}

@keyframes forearmCustomL {
 0%{transform: rotate(60deg);}
 100%{transform: rotate(0deg);}
}

}

.avatar[pose="faceCustomBack"]{

    
    animation: faceCustomBack 2s ease both!important;

    .avatar__arm{

        &-R{
            animation: armCustomRBack 2s ease both;
        }

        &-L{
            animation: armCustomLBack 2s ease both;
        }
    }
    
  

    .avatar__forearm{

        &-R{
            animation: forearmCustomRBack 2s ease both;
        }

        &-L{
            animation: forearmCustomLBack 2s ease both;
        }
    }

    .avatar__helmet{
        animation: openHelmetBack 1s both;
        animation-delay: 1s;


    }



    
    .avatar__leg{

        &-R{
            transform: rotate(-25deg);
            animation: legR 3s ease alternate infinite;

            @keyframes legR {
                0%{transform: rotate(-25deg);}
                100%{transform: rotate(-15deg);}
            }
        }
        &-L{
            transform: rotate(-5deg);
            animation: legL 5s ease alternate infinite;

            @keyframes legL {
                0%{transform: rotate(-5deg);}
                100%{transform: rotate(5deg);}
            }
        }
    }

    .avatar__tibia{

        &-R{
            transform: rotate(20deg);
            animation: tibiaR 3s ease alternate infinite;

            @keyframes tibiaR {
                0%{transform: rotate(20deg);}
                100%{transform: rotate(25deg);}
            }
        }
        &-L{
            transform: rotate(25deg);
        }
    }


@keyframes openHelmetBack {
    0%{clip-path: ellipse(50% 0% at 50% 99%);} 
        100%{clip-path: ellipse(50% 50% at 50% 50%);} 
        
}

@keyframes faceCustomBack {
    0%{transform: translateY(100%) scale(2.5);}
    100%{transform: translateY(0%) scale(1);}

 
}

@media (max-width: 767px) {
    @keyframes faceCustomBack {
        0%{transform: translateY(180%) scale(5);}
        100%{transform: translateY(0%) scale(1);}
        
        
       }
    
}

@keyframes armCustomRBack {

 0%{transform: rotate(52deg);}
 100%{transform: rotate(40deg);}
}

@keyframes armCustomLBack {

 0%{transform: rotate(-52deg);}
 100%{transform: rotate(-10deg);}
}

@keyframes forearmCustomRBack {
    0%{transform: rotate(0deg);}
 100%{transform: rotate(-60deg);}

}

@keyframes forearmCustomLBack {
    0%{transform: rotate(0deg);}
 100%{transform: rotate(40deg);}

}

}

.avatar[pose="cardInfo"]{

    // transform: scale(2.5) translateY(100%);

    @keyframes cardAnim {
        0%{
            clip-path: inset(-6% 0 0 0);
            transform: scale(2.5) translateY(40%);
            background-color: #35fbb900;
            background-image: linear-gradient(360deg, #62cafb00 50%, #88fff900 50%);
            background-size: 0px 0px;
        }

        25%{
            clip-path: inset(0% 27% 55% 27%);
            transform: scale(2.5) translateY(40%);
            background-color: #35fbb910;
            background-image: linear-gradient(360deg, #62cafb1e 50%, #88fff923 50%);
            filter: saturate(1);
            background-size: 5px 5px;
        }

        50%{
            background-size: 13px 13px;
            background-image: linear-gradient(360deg, #62cafb1e 50%, #88fff923 50%);
            background-color: #35fbb910;
        }

        100%{
            
            transform: scale(1) translateY(-5%);
            clip-path: inset(0% 27% 69% 27%);
            background-color: #35fbb92a;
            background-image: linear-gradient(360deg, #62cafb80 50%, #88fff96b 50%);
            background-size: 10px 10px;
            filter: saturate(0.4);
            box-shadow: inset #07ffb054 0px 66px 35px 0px;
        }
        
    }


    @media (max-width: 767px) {
        @keyframes cardAnim {
            0%{
                clip-path: inset(-6% 0 0 0);
                transform: translateY(180%) scale(5);
                background-color: #35fbb900;
                background-image: linear-gradient(360deg, #62cafb00 50%, #88fff900 50%);
                background-size: 0px 0px;
            }
    
            25%{
                clip-path: inset(0% 27% 55% 27%);
                transform: scale(2.5) translateY(40%);
                background-color: #35fbb910;
                background-image: linear-gradient(360deg, #62cafb1e 50%, #88fff923 50%);
                filter: saturate(1);
                background-size: 5px 5px;
            }
    
            50%{
                background-size: 13px 13px;
                background-image: linear-gradient(360deg, #62cafb1e 50%, #88fff923 50%);
                background-color: #35fbb910;
            }
    
            100%{
                
                transform: scale(2) translateX(-43%) translateY(35%);
                clip-path: inset(0% 27% 69% 27%);
                background-color: #35fbb92a;
                background-image: linear-gradient(360deg, #62cafb80 50%, #88fff96b 50%);
                background-size: 10px 10px;
                filter: saturate(0.7);
                box-shadow: inset #07ffb054 0px 66px 35px 0px;
            }
            
        }
    }




    
    filter: saturate(0.5) opacity(0.8);
    animation: cardAnim 4s ease both !important;
    animation-delay: 4s;
    transition: all;
    background-size: 10px 10px;
    // mix-blend-mode: hard-light;


    .avatar__head{
        opacity: 0.6;
        // mix-blend-mode: lighten;
    }

    // .avatar__body{
    //     opacity: 0.7;
    // }

    .avatar__helmet{
        clip-path: ellipse(50% 0% at 50% 99%);
    }

    .avatar__arm{

        &-R{
            transform: rotate(52deg);
        }

        &-L{
            transform: rotate(-52deg);
        }
    }

    .avatar__forearm{

        &-R{
            transform: rotate(0deg);
        }

        &-L{
            transform: rotate(0deg);
        }
    }
}

.avatar[pose="cardInfoBack"]{

    // transform: scale(2.5) translateY(100%);

    @keyframes cardAnimBack {
        0%{
            transform: scale(1) translateY(-5%);
            clip-path: inset(0% 27% 69% 27%);
            background-color: #35fbb92a;
            background-image: linear-gradient(360deg, #62cafb80 50%, #88fff96b 50%);
            background-size: 10px 10px;
            filter: saturate(0.4);
            box-shadow: inset #07ffb054 0px 66px 35px 0px;
        }

        25%{
            background-size: 13px 13px;
            background-image: linear-gradient(360deg, #62cafb1e 50%, #88fff923 50%);
            background-color: #35fbb910;
        }

        50%{

            clip-path: inset(0% 27% 55% 27%);
            transform: scale(2.5) translateY(40%);
            background-color: #35fbb910;
            background-image: linear-gradient(360deg, #62cafb00 50%, #88fff900 50%);
            filter: saturate(1);
            background-size: 5px 5px;
        }

        100%{
            clip-path: inset(-6% 0 0 0);
            transform: scale(2.5) translateY(40%);
            background-color: #35fbb900;
            background-image: linear-gradient(360deg, #62cafb00 50%, #88fff900 50%);
            background-size: 0px 0px;
        }
        
    }


    @media (max-width: 767px) {
        @keyframes cardAnimBack {
            0%{
                transform: scale(2) translateX(-43%) translateY(35%);
                clip-path: inset(0% 27% 69% 27%);
                background-color: #35fbb92a;
                background-image: linear-gradient(360deg, #62cafb80 50%, #88fff96b 50%);
                background-size: 10px 10px;
                filter: saturate(0.7);
                box-shadow: inset #07ffb054 0px 66px 35px 0px;
            }
    
            25%{

                background-size: 13px 13px;
                background-image: linear-gradient(360deg, #62cafb1e 50%, #88fff923 50%);
                background-color: #35fbb910;
            }
    
            50%{

                clip-path: inset(0% 27% 55% 27%);
                transform: scale(2.5) translateY(40%);
                background-color: #35fbb910;
                background-image: linear-gradient(360deg, #62cafb1e 50%, #88fff923 50%);
                filter: saturate(1);
                background-size: 5px 5px;
            }
    
            100%{
                clip-path: inset(-6% 0 0 0);
                transform: translateY(180%) scale(5);
                background-color: #35fbb900;
                background-image: linear-gradient(360deg, #62cafb00 50%, #88fff900 50%);
                background-size: 0px 0px;
            }
            
        }
    }




    
    // filter: saturate(0.5) opacity(0.8);
    animation: cardAnimBack 4s ease both !important;
    // animation-delay: 4s;
    transition: all;
    background-size: 10px 10px;
    // mix-blend-mode: hard-light;


    .avatar__head{
        opacity: 1;
        // mix-blend-mode: lighten;
    }

    // .avatar__body{
    //     opacity: 0.7;
    // }

    .avatar__helmet{
        clip-path: ellipse(50% 0% at 50% 99%);
    }

    .avatar__arm{

        &-R{
            transform: rotate(52deg);
        }

        &-L{
            transform: rotate(-52deg);
        }
    }

    .avatar__forearm{

        &-R{
            transform: rotate(0deg);
        }

        &-L{
            transform: rotate(0deg);
        }
    }
}

.avatar-floating{
    animation: avatarFloating 10s alternate infinite!important;
}
