<div class="cadastro__svg">cadstro__svg

    <picture class="avatar" skin-color="s2" age="10-15" pose="floating">


        <!-- [Rosto 👨🏽‍🦲]  -->
        <header class="avatar__head" silhuette="true">

            <div class="avatar__head-front">
                <i class="avatar__hair" hair-style="H2" hair-color="c1"></i>
                <i class="avatar__eyes" eyes-style="E0" eyes-color="c5">
                    <i class="avatar__eyes-R"></i>
                    <i class="avatar__eyes-L"></i>
                </i>
                <i class="avatar__nose" nose-style="N0"></i>
                <i class="avatar__mouth" mouth-style="M0"></i>
            </div>

            <div class="avatar__head-back">
                <i class="avatar__ears"></i>
                <i class="avatar__hair" hair-style="H2" hair-color="c1"></i>
            </div>

        </header>

        <!-- [Corpo 🧍🏽‍♂️]  -->
        <footer>
            <div class="avatar__body">
                <i class="body__main">

                    <i class="avatar__helmet"></i>

                    <i class="avatar__suit">
                        <i class="avatar__suit-detail"></i>
                    </i>

                    <i class="avatar__arm-R">
                        <i class="avatar__forearm-R">
                            <i class="avatar__hand-R">
                                <i></i><i></i><i></i><i></i>
                            </i>
                        </i>
                    </i>
                    <i class="avatar__arm-L">
                        <i class="avatar__forearm-L">
                            <i class="avatar__hand-L">
                                <i></i><i></i><i></i><i></i>
                            </i>
                        </i>
                    </i>

                    

                    <i class="avatar__leg-R">
                        <i class="avatar__tibia-R">
                            <i class="avatar__feet-R"></i>
                        </i>
                    </i>
                    <i class="avatar__leg-L">
                        <i class="avatar__tibia-L">
                            <i class="avatar__feet-L"></i>
                        </i>
                    </i>
                </i>
            </div>
        </footer>
    </picture>

</div>

<div class="cadastro__form">cadstro__form</div>