<div class="cadastro__svg">

    <div class="card-cable"></div>

    <div class="cadastro__card-info">


        <i></i><i></i><span class="card-info__lock"><b></b><b></b><b></b></span>
        <img src="../../assets/icons/lock-solid.svg" alt="">

        <div class="card-info">
            <p class="card-info__title">Cartão de acesso</p>
            <p class="card-info__name">Aluno, 24</p>
            <p class="card-info__city">São Paulo - BR</p>
            <p class="card-info__status">Validando dados...</p>
        </div>

    </div>

    <picture class="avatar" skin-color="s2" age="10-15" pose="floating">


        <!-- [Rosto 👨🏽‍🦲]  -->
        <header class="avatar__head" silhuette="true">

            <div class="avatar__head-front">
                <i class="avatar__hair" hair-style="H2" hair-color="c1"></i>
                <i class="avatar__eyes" eyes-style="E0" eyes-color="c5">
                    <i class="avatar__eyes-R"></i>
                    <i class="avatar__eyes-L"></i>
                </i>
                <i class="avatar__nose" nose-style="N0"></i>
                <i class="avatar__mouth" mouth-style="M0"></i>
            </div>

            <div class="avatar__head-back">
                <i class="avatar__ears"></i>
                <i class="avatar__hair" hair-style="H2" hair-color="c1"></i>
            </div>

        </header>

        <!-- [Corpo 🧍🏽‍♂️]  -->
        <footer>
            <div class="avatar__body">
                <i class="body__main">

                    <i class="avatar__helmet"></i>

                    <i class="avatar__suit">
                        <i class="avatar__suit-detail"></i>
                    </i>

                    <i class="avatar__arm-R">
                        <i class="avatar__forearm-R">
                            <i class="avatar__hand-R">
                                <i></i><i></i><i></i><i></i>
                            </i>
                        </i>
                    </i>
                    <i class="avatar__arm-L">
                        <i class="avatar__forearm-L">
                            <i class="avatar__hand-L">
                                <i></i><i></i><i></i><i></i>
                            </i>
                        </i>
                    </i>



                    <i class="avatar__leg-R">
                        <i class="avatar__tibia-R">
                            <i class="avatar__feet-R"></i>
                        </i>
                    </i>
                    <i class="avatar__leg-L">
                        <i class="avatar__tibia-L">
                            <i class="avatar__feet-L"></i>
                        </i>
                    </i>
                </i>
            </div>
        </footer>
    </picture>

</div>

<div class="cadastro__form">
    <header>
        <img src="../../assets/LS-Logo - Color.svg" alt="">
        <p class="form__msg-error"></p>
    </header>

    

    <div class="cadastro__sections">

        <section class="show-block">
            <h2>Sobre você</h2>

            <form action="">
                <div class="form__nome">
                    <label class="obt" for="name">Nome:</label>
                    <input placeholder="ex: Ariel" type="text" name="name" id="form__nome">
                </div>

                <div class="form__sobrenome">
                    <label class="obt" for="sobrenome">Sobrenome:</label>
                    <input placeholder="ex: Oliveira Silva" type="text" name="sobrenome" id="form__sobrenome">
                </div>

                <div class="form__apelido">
                    <label for="apelido">Apelido:</label>
                    <input placeholder="ex: Ari" type="text" name="apelido" id="form__apelido">
                </div>


                <div class="form__reference">
                    
                    <label for="reference">Me chame pelo:</label>
                    <select disabled name="reference" id="form__reference">
                        <option selected value="ref-nome">Nome</option>
                        <option value="ref-nick" >Apelido</option>
                    </select>

                </div>



                <div class="form__nivel-acesso">
                    <label for="nivel-acesso">Nível de acesso:</label>
                    <select name="nivel-acesso" id="form__nivel-acesso">
                        <option value="professor">Sou professor</option>
                        <option value="aluno" selected>Sou aluno</option>
                    </select>
                </div>

                <div class="form__nascimento">
                    <label class="obt" for="nascimento">Nascimento:</label>
                    <input min="1922" type="date" name="nascimento" id="form__nascimento">
                </div>

                <div class="form__genero">
                    <label for="genero">Gênero:</label>
                    <select class="genero__select" name="genero" id="form__genero">
                        <!-- <option selected disabled hidden> - - - </option> -->
                        <option selected value="non">Prefiro não dizer</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                    </select>
                </div>


                <div class="form__estado">
                    <label class="obt" for="estado">Estado:</label>
                    <select id="form__estado" name="estado">
                        <option value="" selected disabled hidden> - - - </option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Bahia">Bahia</option>
                    </select>
                </div>


            </form>
        </section>

        <section>
            <h2>Customize seu avatar</h2>
            <div class="custom">
                <div class="custom-categories">
                    <div class="custom-category custom-category--active" onclick="changeTabCustom(this, 0)">
                        <span>
                            <img src="../../assets/icons/face-icon.svg" alt="">
                        </span>
                        <p>Pele</p>
                    </div>
                    <div class="custom-category" onclick="changeTabCustom(this, 1)">
                        <span>
                            <img src="../../assets/icons/cabelo-icon.svg" alt="">
                        </span>
                        <p>Cabelo</p>
                    </div>
                    <div class="custom-category" onclick="changeTabCustom(this, 2)">
                        <span>
                            <img src="../../assets/icons/olhos-icon.svg" alt="">
                        </span>
                        <p>Olhos</p>
                    </div>
                    <div class="custom-category" onclick="changeTabCustom(this, 3)">
                        <span>
                            <img src="../../assets/icons/nariz-icon.svg" alt="">
                        </span>
                        <p>Nariz</p>
                    </div>
                    <div class="custom-category" onclick="changeTabCustom(this, 4)">
                        <span>
                            <img src="../../assets/icons/boca-icon.svg" alt="">
                        </span>
                        <p>Boca</p>
                    </div>
                    <div class="custom-category" onclick="changeTabCustom(this, 5)">
                        <span>
                            <img src="../../assets/icons/acessorios-icon.svg" alt="">
                        </span>
                        <p>Acessório</p>
                    </div>
                </div>
                <div class="custom-itens">

                    <div class="custom-row custom-face show-flex">
                        <div id="s1" class="custom-item" onclick="changeItemCustom(this)"><i></i></div>
                        <div id="s2" class="custom-item custom-item--selected" onclick="changeItemCustom(this)"><i></i>
                        </div>
                        <div id="s3" class="custom-item" onclick="changeItemCustom(this)"><i></i></div>
                        <div id="s4" class="custom-item" onclick="changeItemCustom(this)"><i></i></div>
                        <div id="s5" class="custom-item" onclick="changeItemCustom(this)"><i></i></div>
                    </div>

                    <div class="custom-row custom-hair">

                        <div id="H0" class="custom-item" onclick="changeItemCustom(this)">
                            <img src="../../assets/icons/H0.svg" alt="">
                        </div>
                        <div id="H1" class="custom-item" onclick="changeItemCustom(this)">
                            <img src="../../assets/icons/H1.svg" alt="">
                        </div>
                        <div id="H2" class="custom-item custom-item--selected" onclick="changeItemCustom(this)">
                            <img src="../../assets/icons/H2.svg" alt="">
                        </div>
                        <div id="H3" class="custom-item" onclick="changeItemCustom(this)">
                            <img src="../../assets/icons/H3.svg" alt="">
                        </div>
                        <div id="H4" class="custom-item" onclick="changeItemCustom(this)">
                            <img src="../../assets/icons/H4.svg" alt="">
                        </div>
                        <div id="H5" class="custom-item" onclick="changeItemCustom(this)">
                            <img src="../../assets/icons/H5.svg" alt="">
                        </div>
                        <div id="H6" class="custom-item" onclick="changeItemCustom(this)">
                            <img src="../../assets/icons/H5.svg" alt="">
                        </div>



                        <div class="custom-colors">
                            <div id="c1" class="custom-colors-item custom-colors--selected"
                                onclick="changeColorCustom(this)"></div>
                            <div id="c2" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c3" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c4" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c5" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c6" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c7" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                        </div>
                    </div>

                    <div class="custom-row custom-eyes">

                        <div id="E0" class="custom-item custom-item--selected" onclick="changeItemCustom(this)"></div>
                        <div id="E1" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="E2" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="E3" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="E4" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="E5" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="E6" class="custom-item" onclick="changeItemCustom(this)"></div>

                        <div class="custom-colors">
                            <div id="c1" class="custom-colors-item " onclick="changeColorCustom(this)"></div>
                            <div id="c2" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c3" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c4" class="custom-colors-item" onclick="changeColorCustom(this)"></div>
                            <div id="c5" class="custom-colors-item custom-colors--selected"
                                onclick="changeColorCustom(this)"></div>
                        </div>
                    </div>

                    <div class="custom-row custom-nose">

                        <div id="N0" class="custom-item custom-item--selected" onclick="changeItemCustom(this)"></div>
                        <div id="N1" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="N2" class="custom-item" onclick="changeItemCustom(this)"></div>

                    </div>

                    <div class="custom-row custom-mouth">

                        <div id="M0" class="custom-item custom-item--selected" onclick="changeItemCustom(this)"></div>
                        <div id="M1" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="M2" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="M3" class="custom-item" onclick="changeItemCustom(this)"></div>
                        <div id="M4" class="custom-item" onclick="changeItemCustom(this)"></div>

                    </div>

                    <div class="custom-row custom-acessories">

                        <div class="custom-item A1 custom-item--selected"></div>
                        <div class="custom-item A2"></div>
                        <div class="custom-item A3"></div>
                        <div class="custom-item A4"></div>
                        <div class="custom-item A5"></div>
                        <div class="custom-item A6"></div>


                        <div class="custom-colors">
                            <div id="c1" class="custom-colors-item"></div>
                            <div id="c2" class="custom-colors-item"></div>
                            <div id="c3" class="custom-colors-item "></div>
                            <div id="c4" class="custom-colors-item"></div>
                            <div id="c5" class="custom-colors-item"></div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section>
            <h2>Credenciais de acesso</h2>

            <form action="">

                <div class="acesso__email">
                    <label for="acesso__email">E-mail:</label>
                    <input placeholder="exemple@email.com" type="email" name="acesso__email" id="acesso__email">
                </div>

                <div class="acesso__password">
                    <label for="acesso__password">Senha:</label>
                    <input placeholder="********" type="password" name="acesso__password" id="acesso__password">
                </div>

                <div class="acesso__password-confirm">
                    <label for="acesso__password">Repetir senha:</label>
                    <input placeholder="********" type="password" name="acesso__password-confirm"
                        id="acesso__password-confirm">
                </div>

            </form>
        </section>
    </div>

    <footer>
        <button onclick="prevStep(this)">Voltar</button>
        <button class="form__btn-next"  onclick="nextStep(this)">Próximo</button>
    </footer>
</div>