<div class="cadastro__svg">cadstro__svg

    <picture class="avatar" skin-color="s1" age="10-15">


        <!-- [Rosto 👨🏽‍🦲]  -->
        <header class="avatar__head">

            <div class="avatar__head-front">
                <i class="avatar__hair" hair-style="H1" hair-color="c1"></i>
                <i class="avatar__eyes" eyes-style="E1" eyes-color="c1">
                    <i class="avatar__eyes-R"></i>
                    <i class="avatar__eyes-L"></i>
                </i>
                <i class="avatar__nose" nose-style="N1"></i>
                <i class="avatar__mouth" mouth-style="M1"></i>
            </div>

            <div class="avatar__head-back">
                <i class="avatar__ears"></i>
                <i class="avatar__hair" hair-style="H1" hair-color="c1"></i>
            </div>

        </header>

        <!-- [Corpo 🧍🏽‍♂️]  -->
        <footer>
            <div class="avatar__body">

            </div>
        </footer>
    </picture>

</div>

<div class="cadastro__form">cadstro__form</div>