.aluno {
    // --------- Rosto -----------------

    #R {
        &1 {
            background-color: var(--R1);

            &::before {
                background-color: var(--R1);
            }
        }

        &2 {
            background-color: var(--R2);

            &::before {
                background-color: var(--R2);
            }
        }
        &3 {
            background-color: var(--R3);

            &::before {
                background-color: var(--R3);
            }
        }

        &4 {
            background-color: var(--R4);

            &::before {
                background-color: var(--R4);
            }
        }
        &5 {
            background-color: var(--R5);

            &::before {
                background-color: var(--R5);
            }
        }
    }

    // --------- Orelha -----------------

    #OrR {
        &1 {
            &::after {
                background-color: var(--R1-dark);
                box-shadow: var(--R1) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R1-dark);
                box-shadow: var(--R1) 0 0 0 4px;
            }
        }

        &2 {
            &::after {
                background-color: var(--R2-dark);
                box-shadow: var(--R2) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R2-dark);
                box-shadow: var(--R2) 0 0 0 4px;
            }
        }

        &3 {
            &::after {
                background-color: var(--R3-dark);
                box-shadow: var(--R3) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R3-dark);
                box-shadow: var(--R3) 0 0 0 4px;
            }
        }

        &4 {
            &::after {
                background-color: var(--R4-dark);
                box-shadow: var(--R4) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R4-dark);
                box-shadow: var(--R4) 0 0 0 4px;
            }
        }

        &5 {
            &::after {
                background-color: var(--R5-dark);
                box-shadow: var(--R5) 0 0 0 4px;
            }

            &::before {
                background-color: var(--R5-dark);
                box-shadow: var(--R5) 0 0 0 4px;
            }
        }
    }

    // --------- Nariz -----------------

    #NR {
        &1 {
            &::after {
                background-color: var(--R1-dark);
            }
        }

        &2 {
            &::after {
                background-color: var(--R2-dark);
            }
        }

        &3 {
            &::after {
                background-color: var(--R3-dark);
            }
        }

        &4 {
            &::after {
                background-color: var(--R4-dark);
            }
        }

        &5 {
            &::after {
                background-color: var(--R5-dark);
            }
        }
    }

    // --------- Olhos -----------------

    #O1c {
        @mixin O1 {
            width: 15px;
            height: 14px;
            background-color: white;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                width: 12px;
                height: 13px;
                border-radius: 15px;
                background-color: var(--C1);
                position: absolute;
                top: 0px;
            }

            &-R {
                border-radius: 8px 0px 8px 0px;
            }

            &-L {
                border-radius: 0px 8px 0px 8px;
            }
        }

        &1 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O1);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O1);
                }
            }
        }

        &2 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O2);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O2);
                }
            }
        }

        &3 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O3);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O3);
                }
            }
        }

        &4 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O4);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O4);
                }
            }
        }

        &5 {
            @include O1;

            &-R {
                &::after {
                    background-color: var(--O5);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O5);
                }
            }
        }
    }
    
    #O2c {
        @mixin O2 {
            width: 15px;
            height: 13px;
            background-color: white;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &-R {
                border-radius: 8px 8px 0px 0px;
                width: 15px;
                height: 10px;

                &::after {
                    content: "";
                    width: 9px;
                    height: 10px;
                    border-radius: 9px;
                    background-color: var(--C1);
                    position: absolute;
                    top: 0px;
                }
            }

            &-L {
                border-radius: 8px 8px 0px 0px;
                width: 15px;
                height: 10px;

                &::after {
                    content: "";
                    width: 9px;
                    height: 10px;
                    border-radius: 9px;
                    background-color: var(--C1);
                    position: absolute;
                    top: 0px;
                }
            }
        }

        &1 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O1);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O1);
                }
            }
        }

        &2 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O2);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O2);
                }
            }
        }

        &3 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O3);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O3);
                }
            }
        }

        &4 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O4);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O4);
                }
            }
        }

        &5 {
            @include O2;

            &-R {
                &::after {
                    background-color: var(--O5);
                }
            }

            &-L {
                &::after {
                    background-color: var(--O5);
                }
            }
        }
    }

    
    #O3c {
        @mixin O3 {
            width: 15px;
            height: 13px;
            background-color: white;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                width: 12px;
                height: 13px;
                border-radius: 15px;
                background-color: var(--C1);
                position: absolute;
                top: 0px;
            }

            &-R {
                border-radius: 8px 0px 8px 0px;
                box-shadow: var(--C1) 1px -1px 0 1px;
            }

            &-L {
                border-radius: 0px 8px 0px 8px;
                box-shadow: var(--C1) -1px -1px 0 1px;
            }
        }

        &1 {
            @include O3;

            &-R {
                &::after {
                    background-color: var(--C1);
                }
            }

            &-L {
                &::after {
                    background-color: var(--C1);
                }
            }
        }

        &2 {
            @include O3;

            &-R {
                &::after {
                    background-color: var(--ls-bg-strong);
                }
            }

            &-L {
                &::after {
                    background-color: var(--ls-bg-strong);
                }
            }
        }
    }
}

.aluno-head {
    // ----- Cabelo - parte principal/front ------------------------------------------------
    #C1c {
        @mixin C1($cor) {
            width: 100%;
            height: 55%;
            top: -12px;

            &::after {
                content: "";
                width: 30%;
                height: 52%;
                border-radius: 30px 30px 0px 30px;
                background-color: $cor;
                filter: brightness(1.7);
                position: absolute;
                bottom: 0px;
                right: 0px;
                z-index: -1;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 30px 0px 35px 0px;
                background-color: $cor;
                position: absolute;
            }
        }

        &1 {
            @include C1(var(--C1));
        }

        &2 {
            @include C1(var(--C2));
        }
        &3 {
            @include C1(var(--C3));
        }

        &4 {
            @include C1(var(--C4));
        }
        &5 {
            @include C1(var(--C5));
        }

        &6 {
            @include C1(var(--C6));
        }
        &7 {
            @include C1(var(--C7));
        }
    }

    #C2c {
        @mixin C2($cor) {
            width: 100%;
            height: 50%;
            top: -7px;

            &::after {
                content: "";
                width: 91%;
                height: 165%;
                clip-path: polygon(
                    0% 31%,
                    2% 21%,
                    8% 12%,
                    15% 6%,
                    28% 2%,
                    42% 0,
                    53% 0,
                    65% 3%,
                    75% 8%,
                    82% 14%,
                    88% 26%,
                    91% 41%,
                    90% 56%,
                    85% 67%,
                    83% 77%,
                    84% 85%,
                    87% 92%,
                    97% 100%,
                    81% 98%,
                    68% 92%,
                    55% 77%,
                    52% 65%,
                    50% 49%,
                    43% 35%,
                    35% 27%,
                    24% 23%,
                    14% 24%,
                    8% 31%
                );
                background-color: $cor;
                position: absolute;
                top: -23px;
                right: -20px;
                transform: rotate(336deg);
                z-index: -1;
                background-color: $cor;
            }

            &::before {
                content: "";
                clip-path: polygon(
                    0 66%,
                    4% 46%,
                    8% 34%,
                    13% 24%,
                    19% 17%,
                    26% 10%,
                    34% 4%,
                    45% 0,
                    58% 0,
                    70% 6%,
                    80% 13%,
                    89% 25%,
                    94% 32%,
                    98% 47%,
                    100% 65%,
                    100% 80%,
                    100% 100%,
                    96% 100%,
                    96% 95%,
                    62% 91%,
                    52% 52%,
                    55% 89%,
                    34% 89%,
                    35% 46%,
                    28% 90%,
                    6% 96%,
                    5% 100%,
                    0 100%
                );
                height: 100%;
                width: 100%;
                background-color: $cor;
                top: 0;
                position: absolute;
            }
        }

        &1 {
            @include C2(var(--C1));
        }

        &2 {
            @include C2(var(--C2));
        }
        &3 {
            @include C2(var(--C3));
        }
        &4 {
            @include C2(var(--C4));
        }
        &5 {
            @include C2(var(--C5));
        }
        &6 {
            @include C2(var(--C6));
        }
        &7 {
            @include C2(var(--C7));
        }
    }
}

// ----- parte de trás ou complemento do cabelo, se houver ----------------------------------------

#C2c {
    @mixin C2($cor) {
        display: flex;
        justify-content: center;

        &::after {
            content: "";
            width: 20px;
            height: 6px;
            background-color: var(--ls-btn-strong-blur);
            top: -39px;
            position: absolute;
            z-index: 1;
        }
    }
    &1 {
        @include C2(var(--ls-bg-strong));
    }

    &2 {
        @include C2(var(--ls-bg-strong));
    }
    &3 {
        @include C2(var(--ls-bg-strong));
    }

    &4 {
        @include C2(var(--ls-bg-strong));
    }
    &5 {
        @include C2(var(--ls-bg-strong));
    }

    &6 {
        @include C2(var(--ls-bg-strong));
    }
    &7 {
        @include C2(var(--ls-bg-strong));
    }
}

 
    
@keyframes cadastroTransition{

    0%{
        left: 110%;
    }
    100%{
        left: 0%;
    }
    }


.cadastro{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 110%;
    
    // animation-delay: 0.2s;

    &-transition{
        animation: cadastroTransition 5s ease-in-out both;
    }

    &-form{

        height: 100%;
        width: 70%;
        background-color: white;
        position: absolute;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
            width: 12vw;
            margin: 3%;
        }

        &-body{
            height: 80%;
            width: 85%;
            // border-top: 1px solid var(--ls-btn-weak);

            h2{
                color: var(--ls-btn-weak);
                margin-left: 15px;
            }
        }
    
        &-footer{
            height: 20%;
            border-top: 1px solid var(--ls-btn-weak);
            width: 85%;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                height: 40px;
            }
        }
    }


    &-images{

        // border: 1px solid green;
        height: 100%;
        width: 30%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        
        

        &-1{
            
            height: 500px;
            width: 300px;
            // background-color: rgba(127, 255, 212, 0.425);
            position: absolute;
            margin-left: 200%;
            animation: rightToCenter 4s both;
            animation-delay: 3.5s;
            transition: opacity 0.4s;
            opacity: 0.2;
            display: flex;
            justify-content: center;
            
            
            
        }

        &-2{
            
            height: 300px;
            width: 300px;
            background-color: rgba(127, 255, 212, 0.425);
            position: absolute;
            margin-left: 200%;
        }

        &-2{
            
            height: 300px;
            width: 300px;
            background-color: rgba(127, 255, 212, 0.425);
            position: absolute;
            margin-left: 200%;
        }

        &-3{
            
            height: 300px;
            width: 300px;
            background-color: rgba(127, 255, 212, 0.425);
            position: absolute;
            margin-left: 200%;
        }

        &-4{
            
            height: 500px;
            width: 300px;
            background-color: rgba(127, 255, 212, 0.425);
            position: absolute;
            margin-left: 200%;
        }
    }




}


.left-to-center{
    animation: leftToCenter 4s both;
}

.right-to-center{
    animation: rightToCenter 4s both;
}

.center-to-left{
    animation: centerToLeft 4s both;
}

.center-to-right{
    animation: centerToRight 4s both;
}



@keyframes leftToCenter{
    0%{margin-left: -200%;}
    100%{margin-left: 0%;}
}

@keyframes rightToCenter{
    0%{margin-left: 200%;}
    100%{margin-left: 0%;}
}

@keyframes centerToLeft{
    0%{margin-left: 0%;}

    100%{margin-left: -200%;}
}


@keyframes centerToRight{
    0%{margin-left: 0%;}

    100%{margin-left: 200%;}
}

.no-gravity{
    animation: noGravity 15s alternate infinite ease-in-out;
}

@keyframes noGravity{
    0%{transform: rotate(0deg); margin-left: 0;}

    40%{transform: rotate(15deg);}

    100%{mtransform: rotate(-15deg); margin-left: 5%;}

}



.cadastro-form-body{

    display: flex;
    flex-direction: column;

    .form-col{
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    
    .form-row{
        display: flex;
        flex-direction: row;
    }

    

    section{

       display: none;

      .form-row{

        .form-col{

            #sobrenome{
                width: 30vw;
            } 
        }
      }
    }


    .custom{
        width: 100%;
        height: 50%;
        height: 50vh;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;

        &-categories{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        } 

        &-category{
            width: 16%;
            height: 100%;
            background-color: var(--ls-btn-strong-blur);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            span{
                width: 20px;
                height: 20px;
                background-color: white;
            }

            p{
                font-weight: 700;
                font-size: 1em;
                color: white;
                margin-top: 10px;
            }

            &--active{
                background-color: var(--ls-bg-strong);
                border: 4px solid var(--ls-btn-lite);
            }
            
        }
        

        &-itens{
            width: 100%;
            height: 70%;
            background-color: rgb(228, 228, 228);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        

        &-row{
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            
        }

        

        &-item{
            width: 100px;
            height: 100px;
            border-radius: 100px;
            background-color: var(--ls-btn-weak);
            margin: 10px;
            cursor: pointer;

            &--selected{
                border: 4px solid var(--ls-btn-lite);
            }

        }



        &-colors{
            width: 30%;
            height: 30px;
            // border: 1px solid rgb(251, 255, 0);
            position: absolute;
            bottom: -15px;
            display: flex;
            justify-content: center;

            &-item{
                width: 20px;
                height: 25px;
                background-color: var(--ls-btn-weak);
                border-radius: 20px;
                margin: 2px;
                transform: skewX(337deg);
                cursor: pointer;
            }

            &--selected{
                border: 3px solid var(--ls-btn-lite);
            }
        }
    }
}

.astro-body{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.astro-helmet{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 12px;
    display: flex;
    align-items: end;
    justify-content: center;

    &::before{
        content: '';
        width: 100%;
        height:  100%;
        background-color: #c4c4c4;
        box-shadow: white 0 0 0 3px;
        position: absolute;
        border-radius: 90px;
    }
}


.aluno{

    
    width: 60px;
    height: 75px;
    // border: 1px solid yellow;
    bottom: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
    

    &-head{
        width: 55px;
        height: 65px;
        background-color: var(--R1);
        border-radius: 55px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        bottom: 7px;


        // &::after{
        //     width: 20px;
        //     height: 20px;
        //     border-radius: 20px;
        //     content: '';
        //     position: absolute;
        //     background-color: var(--R1);
        //     left: -10px;
        //     box-shadow: var(--R1) 55px 0px 0 0;
        // }

        &::before{
            width: 20px;
            height: 15px;
            content: '';
            position: absolute;
            background-color: var(--R1);
            bottom: -10px;
            
        }
    }

    &-eyes{
        width: 100%;
        height: 20px;
        // border: 1px solid red;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        &-R{
            width: 15px;
            height: 14px;
            border-radius: 8px 0px 8px 0px;
            background-color: white;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

                &::after{
                    content: '';
                    width: 12px;
                    height: 13px;
                    border-radius: 15px;
                    background-color: var(--C1);
                    position: absolute;
                    top: 0px;
                
                }
        }

        &-L{
            width: 15px;
            height: 14px;
            border-radius: 0px 8px 0px 8px;
            background-color: white;
            margin-right: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

                &::after{
                    content: '';
                    width: 12px;
                    height: 13px;
                    border-radius: 15px;
                    background-color: var(--C1);
                    position: absolute;
                    top: 0px;
                
                }
        }
    }

    &-hair{

        &-front{
            width: 100%;
            height: 40px;
            // border: 1px solid rgb(4, 226, 255);
            top: -13px;
            position: absolute;
        }

        
        &-back{
            width: 100%;
            height: 40px;
            // border: 1px solid rgb(4, 226, 255);
            top: 30px;
            position: absolute;
        }
        
    }

    &-ears{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;

        &::after{
            width: 10px;
            height: 10px;
            border-radius: 20px;
            content: '';
            position: absolute;
            background-color: #e39c9c;
            left: -2px;
            box-shadow: var(--R1) 0 0 0 4px;
        }

        &::before{
            width: 10px;
            height: 10px;
            border-radius: 20px;
            content: '';
            position: absolute;
            background-color: #e39c9c;
            right: -2px;
            box-shadow: var(--R1) 0 0 0 4px;
        }
    }

    &-nose{
        height: 15px;
        width: 8px;
        // background-color: rgba(0, 0, 255, 0.411);
        margin-top: 14px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &::after{
            content: '';
            height: 5px;
            width: 100%;
            border-radius: 5px;
            background-color: #e39c9c;
            position: absolute;
        }
    }

    &-lip{
        height: 8px;
        width: 15px;
        // background-color: rgba(0, 0, 255, 0.411);
        bottom: 7px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after{
            content: '';
            width: 80%;
            height: 70%;
            border-radius: 0px 0px 30px 30px;
            background-color: white;
            position: absolute;
        }
    }
}










.step-1{
    animation: step1 1s ease-in-out both;
}

.step-1-reverse{
    animation: step1Reverse 1s ease-in-out both;
}

.silhouette{
    opacity: 0.2;
    filter: brightness(0);
}

.helmet-out{
   &::before{
    animation: helmetOut 0.6s ease-in both;
   }
}

.helmet-out-reverse{
    &::before{
     animation: helmetIn 0.6s ease-in both;
     
    }
 }


@keyframes step1 {
    0%{
        transform: scale(1);
        margin-left: 0%;
    }
    100%{
        margin-top: 250%;
        margin-left: 0%;
        transform: scale(3);
    }
}

@keyframes step1Reverse {
    0%{
        margin-top: 250%;
        margin-left: 0%;
        transform: scale(3);
    }
    100%{
        transform: scale(1);
        margin-left: 0%;
    }
}



@keyframes helmetOut {
    0%{
        // clip-path: inset(0 0 0 0);
        // clip-path: circle(50% at 50% 50%);
        clip-path: ellipse(50% 50% at 50% 50%);
    }
    100%{
        // clip-path: inset(100% 0 0 0);
        // clip-path: circle(1.9% at 50% 100%);
        clip-path: ellipse(50% 0% at 49% 100%);
    }
}


@keyframes helmetIn {
    0%{

        clip-path: ellipse(50% 0% at 49% 100%);
       
    }
    100%{

        clip-path: ellipse(50% 50% at 50% 50%);
    }
}

 
.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;

    &-svg {
        // border: 1px solid red;
        height: 100%;
        width: 85%;
        position: absolute;
        display: flex;
        align-items: center;

        img {
            height: 60vw;
            position: absolute;
            left: 0px;

            // @media screen and (max-width: 1240px) {
            //     left: -430px;
            //     height: 70vw;
            // }

            // @media screen and (max-width: 1080px) {
            //     left: -300px;
            //     height: 65vw;
            // }
        }
    }

    &-form {
        // height: 65vh;
        // width: 17vw;
        min-width: 17vw;
        // border: 1px solid blue;
        position: absolute;
        z-index: 1;
        margin-left: 10vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        background-color: white;
        padding: 2%;
        border-radius: 20px;

        button {
            width: 130px;
            margin-left: auto;
            margin-right: auto;
        }

        .btn-lite {
            margin-top: 20px;
        }

        hr {
            margin: 20px 0px 20px 0px;
            border-top: 1px solid var(--ls-bg-strong);
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: "OU";
                font-size: 1em;
                position: absolute;
                background-color: white;
                padding: 0px 5px 0px 5px;
                color: var(--ls-bg-strong);
            }
        }

        img {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }
}

.login-transition {
    animation: loginTransition 4s ease-in both;

    .login-svg {
        animation: loginSVGTransition 4s ease-in both;
    }
}

@keyframes loginTransition {
    0% {
        right: 0%;
    }

    100% {
        right: 180%;
    }
}

@keyframes loginSVGTransition {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2.5);
    }
}
