.aluno #R1 {
  background-color: var(--R1); }
  .aluno #R1::before {
    background-color: var(--R1); }
.aluno #R2 {
  background-color: var(--R2); }
  .aluno #R2::before {
    background-color: var(--R2); }
.aluno #R3 {
  background-color: var(--R3); }
  .aluno #R3::before {
    background-color: var(--R3); }
.aluno #R4 {
  background-color: var(--R4); }
  .aluno #R4::before {
    background-color: var(--R4); }
.aluno #R5 {
  background-color: var(--R5); }
  .aluno #R5::before {
    background-color: var(--R5); }
.aluno #OrR1::after {
  background-color: var(--R1-dark);
  box-shadow: var(--R1) 0 0 0 4px; }
.aluno #OrR1::before {
  background-color: var(--R1-dark);
  box-shadow: var(--R1) 0 0 0 4px; }
.aluno #OrR2::after {
  background-color: var(--R2-dark);
  box-shadow: var(--R2) 0 0 0 4px; }
.aluno #OrR2::before {
  background-color: var(--R2-dark);
  box-shadow: var(--R2) 0 0 0 4px; }
.aluno #OrR3::after {
  background-color: var(--R3-dark);
  box-shadow: var(--R3) 0 0 0 4px; }
.aluno #OrR3::before {
  background-color: var(--R3-dark);
  box-shadow: var(--R3) 0 0 0 4px; }
.aluno #OrR4::after {
  background-color: var(--R4-dark);
  box-shadow: var(--R4) 0 0 0 4px; }
.aluno #OrR4::before {
  background-color: var(--R4-dark);
  box-shadow: var(--R4) 0 0 0 4px; }
.aluno #OrR5::after {
  background-color: var(--R5-dark);
  box-shadow: var(--R5) 0 0 0 4px; }
.aluno #OrR5::before {
  background-color: var(--R5-dark);
  box-shadow: var(--R5) 0 0 0 4px; }
.aluno #NR1::after {
  background-color: var(--R1-dark); }
.aluno #NR2::after {
  background-color: var(--R2-dark); }
.aluno #NR3::after {
  background-color: var(--R3-dark); }
.aluno #NR4::after {
  background-color: var(--R4-dark); }
.aluno #NR5::after {
  background-color: var(--R5-dark); }
.aluno #O1c1 {
  width: 15px;
  height: 14px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O1c1::after {
    content: "";
    width: 12px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--C1);
    position: absolute;
    top: 0px; }
  .aluno #O1c1-R {
    border-radius: 8px 0px 8px 0px; }
  .aluno #O1c1-L {
    border-radius: 0px 8px 0px 8px; }
  .aluno #O1c1-R::after {
    background-color: var(--O1); }
  .aluno #O1c1-L::after {
    background-color: var(--O1); }
.aluno #O1c2 {
  width: 15px;
  height: 14px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O1c2::after {
    content: "";
    width: 12px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--C1);
    position: absolute;
    top: 0px; }
  .aluno #O1c2-R {
    border-radius: 8px 0px 8px 0px; }
  .aluno #O1c2-L {
    border-radius: 0px 8px 0px 8px; }
  .aluno #O1c2-R::after {
    background-color: var(--O2); }
  .aluno #O1c2-L::after {
    background-color: var(--O2); }
.aluno #O1c3 {
  width: 15px;
  height: 14px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O1c3::after {
    content: "";
    width: 12px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--C1);
    position: absolute;
    top: 0px; }
  .aluno #O1c3-R {
    border-radius: 8px 0px 8px 0px; }
  .aluno #O1c3-L {
    border-radius: 0px 8px 0px 8px; }
  .aluno #O1c3-R::after {
    background-color: var(--O3); }
  .aluno #O1c3-L::after {
    background-color: var(--O3); }
.aluno #O1c4 {
  width: 15px;
  height: 14px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O1c4::after {
    content: "";
    width: 12px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--C1);
    position: absolute;
    top: 0px; }
  .aluno #O1c4-R {
    border-radius: 8px 0px 8px 0px; }
  .aluno #O1c4-L {
    border-radius: 0px 8px 0px 8px; }
  .aluno #O1c4-R::after {
    background-color: var(--O4); }
  .aluno #O1c4-L::after {
    background-color: var(--O4); }
.aluno #O1c5 {
  width: 15px;
  height: 14px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O1c5::after {
    content: "";
    width: 12px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--C1);
    position: absolute;
    top: 0px; }
  .aluno #O1c5-R {
    border-radius: 8px 0px 8px 0px; }
  .aluno #O1c5-L {
    border-radius: 0px 8px 0px 8px; }
  .aluno #O1c5-R::after {
    background-color: var(--O5); }
  .aluno #O1c5-L::after {
    background-color: var(--O5); }
.aluno #O2c1 {
  width: 15px;
  height: 13px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O2c1-R {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c1-R::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c1-L {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c1-L::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c1-R::after {
    background-color: var(--O1); }
  .aluno #O2c1-L::after {
    background-color: var(--O1); }
.aluno #O2c2 {
  width: 15px;
  height: 13px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O2c2-R {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c2-R::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c2-L {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c2-L::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c2-R::after {
    background-color: var(--O2); }
  .aluno #O2c2-L::after {
    background-color: var(--O2); }
.aluno #O2c3 {
  width: 15px;
  height: 13px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O2c3-R {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c3-R::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c3-L {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c3-L::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c3-R::after {
    background-color: var(--O3); }
  .aluno #O2c3-L::after {
    background-color: var(--O3); }
.aluno #O2c4 {
  width: 15px;
  height: 13px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O2c4-R {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c4-R::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c4-L {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c4-L::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c4-R::after {
    background-color: var(--O4); }
  .aluno #O2c4-L::after {
    background-color: var(--O4); }
.aluno #O2c5 {
  width: 15px;
  height: 13px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O2c5-R {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c5-R::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c5-L {
    border-radius: 8px 8px 0px 0px;
    width: 15px;
    height: 10px; }
    .aluno #O2c5-L::after {
      content: "";
      width: 9px;
      height: 10px;
      border-radius: 9px;
      background-color: var(--C1);
      position: absolute;
      top: 0px; }
  .aluno #O2c5-R::after {
    background-color: var(--O5); }
  .aluno #O2c5-L::after {
    background-color: var(--O5); }
.aluno #O3c1 {
  width: 15px;
  height: 13px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O3c1::after {
    content: "";
    width: 12px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--C1);
    position: absolute;
    top: 0px; }
  .aluno #O3c1-R {
    border-radius: 8px 0px 8px 0px;
    box-shadow: var(--C1) 1px -1px 0 1px; }
  .aluno #O3c1-L {
    border-radius: 0px 8px 0px 8px;
    box-shadow: var(--C1) -1px -1px 0 1px; }
  .aluno #O3c1-R::after {
    background-color: var(--C1); }
  .aluno #O3c1-L::after {
    background-color: var(--C1); }
.aluno #O3c2 {
  width: 15px;
  height: 13px;
  background-color: white;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .aluno #O3c2::after {
    content: "";
    width: 12px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--C1);
    position: absolute;
    top: 0px; }
  .aluno #O3c2-R {
    border-radius: 8px 0px 8px 0px;
    box-shadow: var(--C1) 1px -1px 0 1px; }
  .aluno #O3c2-L {
    border-radius: 0px 8px 0px 8px;
    box-shadow: var(--C1) -1px -1px 0 1px; }
  .aluno #O3c2-R::after {
    background-color: var(--ls-bg-strong); }
  .aluno #O3c2-L::after {
    background-color: var(--ls-bg-strong); }

.aluno-head #C1c1 {
  width: 100%;
  height: 55%;
  top: -12px; }
  .aluno-head #C1c1::after {
    content: "";
    width: 30%;
    height: 52%;
    border-radius: 30px 30px 0px 30px;
    background-color: var(--C1);
    filter: brightness(1.7);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1; }
  .aluno-head #C1c1::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 35px 0px;
    background-color: var(--C1);
    position: absolute; }
.aluno-head #C1c2 {
  width: 100%;
  height: 55%;
  top: -12px; }
  .aluno-head #C1c2::after {
    content: "";
    width: 30%;
    height: 52%;
    border-radius: 30px 30px 0px 30px;
    background-color: var(--C2);
    filter: brightness(1.7);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1; }
  .aluno-head #C1c2::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 35px 0px;
    background-color: var(--C2);
    position: absolute; }
.aluno-head #C1c3 {
  width: 100%;
  height: 55%;
  top: -12px; }
  .aluno-head #C1c3::after {
    content: "";
    width: 30%;
    height: 52%;
    border-radius: 30px 30px 0px 30px;
    background-color: var(--C3);
    filter: brightness(1.7);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1; }
  .aluno-head #C1c3::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 35px 0px;
    background-color: var(--C3);
    position: absolute; }
.aluno-head #C1c4 {
  width: 100%;
  height: 55%;
  top: -12px; }
  .aluno-head #C1c4::after {
    content: "";
    width: 30%;
    height: 52%;
    border-radius: 30px 30px 0px 30px;
    background-color: var(--C4);
    filter: brightness(1.7);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1; }
  .aluno-head #C1c4::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 35px 0px;
    background-color: var(--C4);
    position: absolute; }
.aluno-head #C1c5 {
  width: 100%;
  height: 55%;
  top: -12px; }
  .aluno-head #C1c5::after {
    content: "";
    width: 30%;
    height: 52%;
    border-radius: 30px 30px 0px 30px;
    background-color: var(--C5);
    filter: brightness(1.7);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1; }
  .aluno-head #C1c5::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 35px 0px;
    background-color: var(--C5);
    position: absolute; }
.aluno-head #C1c6 {
  width: 100%;
  height: 55%;
  top: -12px; }
  .aluno-head #C1c6::after {
    content: "";
    width: 30%;
    height: 52%;
    border-radius: 30px 30px 0px 30px;
    background-color: var(--C6);
    filter: brightness(1.7);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1; }
  .aluno-head #C1c6::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 35px 0px;
    background-color: var(--C6);
    position: absolute; }
.aluno-head #C1c7 {
  width: 100%;
  height: 55%;
  top: -12px; }
  .aluno-head #C1c7::after {
    content: "";
    width: 30%;
    height: 52%;
    border-radius: 30px 30px 0px 30px;
    background-color: var(--C7);
    filter: brightness(1.7);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1; }
  .aluno-head #C1c7::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 35px 0px;
    background-color: var(--C7);
    position: absolute; }
.aluno-head #C2c1 {
  width: 100%;
  height: 50%;
  top: -7px; }
  .aluno-head #C2c1::after {
    content: "";
    width: 91%;
    height: 165%;
    clip-path: polygon(0% 31%, 2% 21%, 8% 12%, 15% 6%, 28% 2%, 42% 0, 53% 0, 65% 3%, 75% 8%, 82% 14%, 88% 26%, 91% 41%, 90% 56%, 85% 67%, 83% 77%, 84% 85%, 87% 92%, 97% 100%, 81% 98%, 68% 92%, 55% 77%, 52% 65%, 50% 49%, 43% 35%, 35% 27%, 24% 23%, 14% 24%, 8% 31%);
    background-color: var(--C1);
    position: absolute;
    top: -23px;
    right: -20px;
    transform: rotate(336deg);
    z-index: -1;
    background-color: var(--C1); }
  .aluno-head #C2c1::before {
    content: "";
    clip-path: polygon(0 66%, 4% 46%, 8% 34%, 13% 24%, 19% 17%, 26% 10%, 34% 4%, 45% 0, 58% 0, 70% 6%, 80% 13%, 89% 25%, 94% 32%, 98% 47%, 100% 65%, 100% 80%, 100% 100%, 96% 100%, 96% 95%, 62% 91%, 52% 52%, 55% 89%, 34% 89%, 35% 46%, 28% 90%, 6% 96%, 5% 100%, 0 100%);
    height: 100%;
    width: 100%;
    background-color: var(--C1);
    top: 0;
    position: absolute; }
.aluno-head #C2c2 {
  width: 100%;
  height: 50%;
  top: -7px; }
  .aluno-head #C2c2::after {
    content: "";
    width: 91%;
    height: 165%;
    clip-path: polygon(0% 31%, 2% 21%, 8% 12%, 15% 6%, 28% 2%, 42% 0, 53% 0, 65% 3%, 75% 8%, 82% 14%, 88% 26%, 91% 41%, 90% 56%, 85% 67%, 83% 77%, 84% 85%, 87% 92%, 97% 100%, 81% 98%, 68% 92%, 55% 77%, 52% 65%, 50% 49%, 43% 35%, 35% 27%, 24% 23%, 14% 24%, 8% 31%);
    background-color: var(--C2);
    position: absolute;
    top: -23px;
    right: -20px;
    transform: rotate(336deg);
    z-index: -1;
    background-color: var(--C2); }
  .aluno-head #C2c2::before {
    content: "";
    clip-path: polygon(0 66%, 4% 46%, 8% 34%, 13% 24%, 19% 17%, 26% 10%, 34% 4%, 45% 0, 58% 0, 70% 6%, 80% 13%, 89% 25%, 94% 32%, 98% 47%, 100% 65%, 100% 80%, 100% 100%, 96% 100%, 96% 95%, 62% 91%, 52% 52%, 55% 89%, 34% 89%, 35% 46%, 28% 90%, 6% 96%, 5% 100%, 0 100%);
    height: 100%;
    width: 100%;
    background-color: var(--C2);
    top: 0;
    position: absolute; }
.aluno-head #C2c3 {
  width: 100%;
  height: 50%;
  top: -7px; }
  .aluno-head #C2c3::after {
    content: "";
    width: 91%;
    height: 165%;
    clip-path: polygon(0% 31%, 2% 21%, 8% 12%, 15% 6%, 28% 2%, 42% 0, 53% 0, 65% 3%, 75% 8%, 82% 14%, 88% 26%, 91% 41%, 90% 56%, 85% 67%, 83% 77%, 84% 85%, 87% 92%, 97% 100%, 81% 98%, 68% 92%, 55% 77%, 52% 65%, 50% 49%, 43% 35%, 35% 27%, 24% 23%, 14% 24%, 8% 31%);
    background-color: var(--C3);
    position: absolute;
    top: -23px;
    right: -20px;
    transform: rotate(336deg);
    z-index: -1;
    background-color: var(--C3); }
  .aluno-head #C2c3::before {
    content: "";
    clip-path: polygon(0 66%, 4% 46%, 8% 34%, 13% 24%, 19% 17%, 26% 10%, 34% 4%, 45% 0, 58% 0, 70% 6%, 80% 13%, 89% 25%, 94% 32%, 98% 47%, 100% 65%, 100% 80%, 100% 100%, 96% 100%, 96% 95%, 62% 91%, 52% 52%, 55% 89%, 34% 89%, 35% 46%, 28% 90%, 6% 96%, 5% 100%, 0 100%);
    height: 100%;
    width: 100%;
    background-color: var(--C3);
    top: 0;
    position: absolute; }
.aluno-head #C2c4 {
  width: 100%;
  height: 50%;
  top: -7px; }
  .aluno-head #C2c4::after {
    content: "";
    width: 91%;
    height: 165%;
    clip-path: polygon(0% 31%, 2% 21%, 8% 12%, 15% 6%, 28% 2%, 42% 0, 53% 0, 65% 3%, 75% 8%, 82% 14%, 88% 26%, 91% 41%, 90% 56%, 85% 67%, 83% 77%, 84% 85%, 87% 92%, 97% 100%, 81% 98%, 68% 92%, 55% 77%, 52% 65%, 50% 49%, 43% 35%, 35% 27%, 24% 23%, 14% 24%, 8% 31%);
    background-color: var(--C4);
    position: absolute;
    top: -23px;
    right: -20px;
    transform: rotate(336deg);
    z-index: -1;
    background-color: var(--C4); }
  .aluno-head #C2c4::before {
    content: "";
    clip-path: polygon(0 66%, 4% 46%, 8% 34%, 13% 24%, 19% 17%, 26% 10%, 34% 4%, 45% 0, 58% 0, 70% 6%, 80% 13%, 89% 25%, 94% 32%, 98% 47%, 100% 65%, 100% 80%, 100% 100%, 96% 100%, 96% 95%, 62% 91%, 52% 52%, 55% 89%, 34% 89%, 35% 46%, 28% 90%, 6% 96%, 5% 100%, 0 100%);
    height: 100%;
    width: 100%;
    background-color: var(--C4);
    top: 0;
    position: absolute; }
.aluno-head #C2c5 {
  width: 100%;
  height: 50%;
  top: -7px; }
  .aluno-head #C2c5::after {
    content: "";
    width: 91%;
    height: 165%;
    clip-path: polygon(0% 31%, 2% 21%, 8% 12%, 15% 6%, 28% 2%, 42% 0, 53% 0, 65% 3%, 75% 8%, 82% 14%, 88% 26%, 91% 41%, 90% 56%, 85% 67%, 83% 77%, 84% 85%, 87% 92%, 97% 100%, 81% 98%, 68% 92%, 55% 77%, 52% 65%, 50% 49%, 43% 35%, 35% 27%, 24% 23%, 14% 24%, 8% 31%);
    background-color: var(--C5);
    position: absolute;
    top: -23px;
    right: -20px;
    transform: rotate(336deg);
    z-index: -1;
    background-color: var(--C5); }
  .aluno-head #C2c5::before {
    content: "";
    clip-path: polygon(0 66%, 4% 46%, 8% 34%, 13% 24%, 19% 17%, 26% 10%, 34% 4%, 45% 0, 58% 0, 70% 6%, 80% 13%, 89% 25%, 94% 32%, 98% 47%, 100% 65%, 100% 80%, 100% 100%, 96% 100%, 96% 95%, 62% 91%, 52% 52%, 55% 89%, 34% 89%, 35% 46%, 28% 90%, 6% 96%, 5% 100%, 0 100%);
    height: 100%;
    width: 100%;
    background-color: var(--C5);
    top: 0;
    position: absolute; }
.aluno-head #C2c6 {
  width: 100%;
  height: 50%;
  top: -7px; }
  .aluno-head #C2c6::after {
    content: "";
    width: 91%;
    height: 165%;
    clip-path: polygon(0% 31%, 2% 21%, 8% 12%, 15% 6%, 28% 2%, 42% 0, 53% 0, 65% 3%, 75% 8%, 82% 14%, 88% 26%, 91% 41%, 90% 56%, 85% 67%, 83% 77%, 84% 85%, 87% 92%, 97% 100%, 81% 98%, 68% 92%, 55% 77%, 52% 65%, 50% 49%, 43% 35%, 35% 27%, 24% 23%, 14% 24%, 8% 31%);
    background-color: var(--C6);
    position: absolute;
    top: -23px;
    right: -20px;
    transform: rotate(336deg);
    z-index: -1;
    background-color: var(--C6); }
  .aluno-head #C2c6::before {
    content: "";
    clip-path: polygon(0 66%, 4% 46%, 8% 34%, 13% 24%, 19% 17%, 26% 10%, 34% 4%, 45% 0, 58% 0, 70% 6%, 80% 13%, 89% 25%, 94% 32%, 98% 47%, 100% 65%, 100% 80%, 100% 100%, 96% 100%, 96% 95%, 62% 91%, 52% 52%, 55% 89%, 34% 89%, 35% 46%, 28% 90%, 6% 96%, 5% 100%, 0 100%);
    height: 100%;
    width: 100%;
    background-color: var(--C6);
    top: 0;
    position: absolute; }
.aluno-head #C2c7 {
  width: 100%;
  height: 50%;
  top: -7px; }
  .aluno-head #C2c7::after {
    content: "";
    width: 91%;
    height: 165%;
    clip-path: polygon(0% 31%, 2% 21%, 8% 12%, 15% 6%, 28% 2%, 42% 0, 53% 0, 65% 3%, 75% 8%, 82% 14%, 88% 26%, 91% 41%, 90% 56%, 85% 67%, 83% 77%, 84% 85%, 87% 92%, 97% 100%, 81% 98%, 68% 92%, 55% 77%, 52% 65%, 50% 49%, 43% 35%, 35% 27%, 24% 23%, 14% 24%, 8% 31%);
    background-color: var(--C7);
    position: absolute;
    top: -23px;
    right: -20px;
    transform: rotate(336deg);
    z-index: -1;
    background-color: var(--C7); }
  .aluno-head #C2c7::before {
    content: "";
    clip-path: polygon(0 66%, 4% 46%, 8% 34%, 13% 24%, 19% 17%, 26% 10%, 34% 4%, 45% 0, 58% 0, 70% 6%, 80% 13%, 89% 25%, 94% 32%, 98% 47%, 100% 65%, 100% 80%, 100% 100%, 96% 100%, 96% 95%, 62% 91%, 52% 52%, 55% 89%, 34% 89%, 35% 46%, 28% 90%, 6% 96%, 5% 100%, 0 100%);
    height: 100%;
    width: 100%;
    background-color: var(--C7);
    top: 0;
    position: absolute; }

#C2c1 {
  display: flex;
  justify-content: center; }
  #C2c1::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: var(--ls-btn-strong-blur);
    top: -39px;
    position: absolute;
    z-index: 1; }
#C2c2 {
  display: flex;
  justify-content: center; }
  #C2c2::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: var(--ls-btn-strong-blur);
    top: -39px;
    position: absolute;
    z-index: 1; }
#C2c3 {
  display: flex;
  justify-content: center; }
  #C2c3::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: var(--ls-btn-strong-blur);
    top: -39px;
    position: absolute;
    z-index: 1; }
#C2c4 {
  display: flex;
  justify-content: center; }
  #C2c4::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: var(--ls-btn-strong-blur);
    top: -39px;
    position: absolute;
    z-index: 1; }
#C2c5 {
  display: flex;
  justify-content: center; }
  #C2c5::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: var(--ls-btn-strong-blur);
    top: -39px;
    position: absolute;
    z-index: 1; }
#C2c6 {
  display: flex;
  justify-content: center; }
  #C2c6::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: var(--ls-btn-strong-blur);
    top: -39px;
    position: absolute;
    z-index: 1; }
#C2c7 {
  display: flex;
  justify-content: center; }
  #C2c7::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: var(--ls-btn-strong-blur);
    top: -39px;
    position: absolute;
    z-index: 1; }

@keyframes cadastroTransition {
  0% {
    left: 110%; }
  100% {
    left: 0%; } }
.cadastro {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 110%; }
  .cadastro-transition {
    animation: cadastroTransition 5s ease-in-out both; }
  .cadastro-form {
    height: 100%;
    width: 70%;
    background-color: white;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .cadastro-form img {
      width: 12vw;
      margin: 3%; }
    .cadastro-form-body {
      height: 80%;
      width: 85%; }
      .cadastro-form-body h2 {
        color: var(--ls-btn-weak);
        margin-left: 15px; }
    .cadastro-form-footer {
      height: 20%;
      border-top: 1px solid var(--ls-btn-weak);
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .cadastro-form-footer button {
        height: 40px; }
  .cadastro-images {
    height: 100%;
    width: 30%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    .cadastro-images-1 {
      height: 500px;
      width: 300px;
      position: absolute;
      margin-left: 200%;
      animation: rightToCenter 4s both;
      animation-delay: 3.5s;
      transition: opacity 0.4s;
      opacity: 0.2;
      display: flex;
      justify-content: center; }
    .cadastro-images-2 {
      height: 300px;
      width: 300px;
      background-color: rgba(127, 255, 212, 0.425);
      position: absolute;
      margin-left: 200%; }
    .cadastro-images-2 {
      height: 300px;
      width: 300px;
      background-color: rgba(127, 255, 212, 0.425);
      position: absolute;
      margin-left: 200%; }
    .cadastro-images-3 {
      height: 300px;
      width: 300px;
      background-color: rgba(127, 255, 212, 0.425);
      position: absolute;
      margin-left: 200%; }
    .cadastro-images-4 {
      height: 500px;
      width: 300px;
      background-color: rgba(127, 255, 212, 0.425);
      position: absolute;
      margin-left: 200%; }

.left-to-center {
  animation: leftToCenter 4s both; }

.right-to-center {
  animation: rightToCenter 4s both; }

.center-to-left {
  animation: centerToLeft 4s both; }

.center-to-right {
  animation: centerToRight 4s both; }

@keyframes leftToCenter {
  0% {
    margin-left: -200%; }
  100% {
    margin-left: 0%; } }
@keyframes rightToCenter {
  0% {
    margin-left: 200%; }
  100% {
    margin-left: 0%; } }
@keyframes centerToLeft {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: -200%; } }
@keyframes centerToRight {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: 200%; } }
.no-gravity {
  animation: noGravity 15s alternate infinite ease-in-out; }

@keyframes noGravity {
  0% {
    transform: rotate(0deg);
    margin-left: 0; }
  40% {
    transform: rotate(15deg); }
  100% {
    mtransform: rotate(-15deg);
    margin-left: 5%; } }
.cadastro-form-body {
  display: flex;
  flex-direction: column; }
  .cadastro-form-body .form-col {
    display: flex;
    flex-direction: column;
    margin: 15px; }
  .cadastro-form-body .form-row {
    display: flex;
    flex-direction: row; }
  .cadastro-form-body section {
    display: none; }
    .cadastro-form-body section .form-row .form-col #sobrenome {
      width: 30vw; }
  .cadastro-form-body .custom {
    width: 100%;
    height: 50%;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .cadastro-form-body .custom-categories {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px; }
    .cadastro-form-body .custom-category {
      width: 16%;
      height: 100%;
      background-color: var(--ls-btn-strong-blur);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer; }
      .cadastro-form-body .custom-category span {
        width: 20px;
        height: 20px;
        background-color: white; }
      .cadastro-form-body .custom-category p {
        font-weight: 700;
        font-size: 1em;
        color: white;
        margin-top: 10px; }
      .cadastro-form-body .custom-category--active {
        background-color: var(--ls-bg-strong);
        border: 4px solid var(--ls-btn-lite); }
    .cadastro-form-body .custom-itens {
      width: 100%;
      height: 70%;
      background-color: #e4e4e4;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .cadastro-form-body .custom-row {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none; }
    .cadastro-form-body .custom-item {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-color: var(--ls-btn-weak);
      margin: 10px;
      cursor: pointer; }
      .cadastro-form-body .custom-item--selected {
        border: 4px solid var(--ls-btn-lite); }
    .cadastro-form-body .custom-colors {
      width: 30%;
      height: 30px;
      position: absolute;
      bottom: -15px;
      display: flex;
      justify-content: center; }
      .cadastro-form-body .custom-colors-item {
        width: 20px;
        height: 25px;
        background-color: var(--ls-btn-weak);
        border-radius: 20px;
        margin: 2px;
        transform: skewX(337deg);
        cursor: pointer; }
      .cadastro-form-body .custom-colors--selected {
        border: 3px solid var(--ls-btn-lite); }

.astro-body {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1; }

.astro-helmet {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 12px;
  display: flex;
  align-items: end;
  justify-content: center; }
  .astro-helmet::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    box-shadow: white 0 0 0 3px;
    position: absolute;
    border-radius: 90px; }

.aluno {
  width: 60px;
  height: 75px;
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s; }
  .aluno-head {
    width: 55px;
    height: 65px;
    background-color: var(--R1);
    border-radius: 55px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 7px; }
    .aluno-head::before {
      width: 20px;
      height: 15px;
      content: '';
      position: absolute;
      background-color: var(--R1);
      bottom: -10px; }
  .aluno-eyes {
    width: 100%;
    height: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; }
    .aluno-eyes-R {
      width: 15px;
      height: 14px;
      border-radius: 8px 0px 8px 0px;
      background-color: white;
      margin-left: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .aluno-eyes-R::after {
        content: '';
        width: 12px;
        height: 13px;
        border-radius: 15px;
        background-color: var(--C1);
        position: absolute;
        top: 0px; }
    .aluno-eyes-L {
      width: 15px;
      height: 14px;
      border-radius: 0px 8px 0px 8px;
      background-color: white;
      margin-right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .aluno-eyes-L::after {
        content: '';
        width: 12px;
        height: 13px;
        border-radius: 15px;
        background-color: var(--C1);
        position: absolute;
        top: 0px; }
  .aluno-hair-front {
    width: 100%;
    height: 40px;
    top: -13px;
    position: absolute; }
  .aluno-hair-back {
    width: 100%;
    height: 40px;
    top: 30px;
    position: absolute; }
  .aluno-ears {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center; }
    .aluno-ears::after {
      width: 10px;
      height: 10px;
      border-radius: 20px;
      content: '';
      position: absolute;
      background-color: #e39c9c;
      left: -2px;
      box-shadow: var(--R1) 0 0 0 4px; }
    .aluno-ears::before {
      width: 10px;
      height: 10px;
      border-radius: 20px;
      content: '';
      position: absolute;
      background-color: #e39c9c;
      right: -2px;
      box-shadow: var(--R1) 0 0 0 4px; }
  .aluno-nose {
    height: 15px;
    width: 8px;
    margin-top: 14px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .aluno-nose::after {
      content: '';
      height: 5px;
      width: 100%;
      border-radius: 5px;
      background-color: #e39c9c;
      position: absolute; }
  .aluno-lip {
    height: 8px;
    width: 15px;
    bottom: 7px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; }
    .aluno-lip::after {
      content: '';
      width: 80%;
      height: 70%;
      border-radius: 0px 0px 30px 30px;
      background-color: white;
      position: absolute; }

.step-1 {
  animation: step1 1s ease-in-out both; }

.step-1-reverse {
  animation: step1Reverse 1s ease-in-out both; }

.silhouette {
  opacity: 0.2;
  filter: brightness(0); }

.helmet-out::before {
  animation: helmetOut 0.6s ease-in both; }

.helmet-out-reverse::before {
  animation: helmetIn 0.6s ease-in both; }

@keyframes step1 {
  0% {
    transform: scale(1);
    margin-left: 0%; }
  100% {
    margin-top: 250%;
    margin-left: 0%;
    transform: scale(3); } }
@keyframes step1Reverse {
  0% {
    margin-top: 250%;
    margin-left: 0%;
    transform: scale(3); }
  100% {
    transform: scale(1);
    margin-left: 0%; } }
@keyframes helmetOut {
  0% {
    clip-path: ellipse(50% 50% at 50% 50%); }
  100% {
    clip-path: ellipse(50% 0% at 49% 100%); } }
@keyframes helmetIn {
  0% {
    clip-path: ellipse(50% 0% at 49% 100%); }
  100% {
    clip-path: ellipse(50% 50% at 50% 50%); } }
.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute; }
  .login-svg {
    height: 100%;
    width: 85%;
    position: absolute;
    display: flex;
    align-items: center; }
    .login-svg img {
      height: 60vw;
      position: absolute;
      left: 0px; }
  .login-form {
    min-width: 17vw;
    position: absolute;
    z-index: 1;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    background-color: white;
    padding: 2%;
    border-radius: 20px; }
    .login-form button {
      width: 130px;
      margin-left: auto;
      margin-right: auto; }
    .login-form .btn-lite {
      margin-top: 20px; }
    .login-form hr {
      margin: 20px 0px 20px 0px;
      border-top: 1px solid var(--ls-bg-strong);
      display: flex;
      align-items: center;
      justify-content: center; }
      .login-form hr::after {
        content: "OU";
        font-size: 1em;
        position: absolute;
        background-color: white;
        padding: 0px 5px 0px 5px;
        color: var(--ls-bg-strong); }
    .login-form img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; }

.login-transition {
  animation: loginTransition 4s ease-in both; }
  .login-transition .login-svg {
    animation: loginSVGTransition 4s ease-in both; }

@keyframes loginTransition {
  0% {
    right: 0%; }
  100% {
    right: 180%; } }
@keyframes loginSVGTransition {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(2.5); } }

/*# sourceMappingURL=components.css.map */
