<div class="login__form">
    <form action="">

        <header>
            <img src="../../assets/LS-Logo - Color.svg" alt="">
        </header>
    
        <label for="email">Login:</label>
        <input placeholder="exemple@email.com" type="email" name="email" id="email">
    
        <label for="password">Senha:</label>
        <input placeholder="*******"  type="password" name="password" id="password">
    <br>
        <button btn-style="lite" type="submit">Login</button>
        <hr>
        <button btn-style="strong" onclick="openCadastro()">Cadastre-se</button>
       
    </form>

</div>

<div class="login__svg">

    <div class="login__svg-smoke">
        <img src="../../assets/smoke.svg" alt="">
    </div>
    <div class="login__svg-ship">
        <img src="../../assets/ship.svg" alt="">
    </div>
   
</div>


<div class="cadastro__finished">

    <section class="cadastro__finished-1">
        <img src="../../assets/icons/check.png" alt="">
        <h1>Yeah! Cadastro finalizado!</h1>
        <p>Nos vemos em breve no embarque :)</p>
    </section>

    <section class="cadastro__finished-2">
        <h1><span>Bem-vindo</span> ao seu espaço!</h1>
    </section>
    
    
</div>