<div class="login__form">
    <form action="">

        <img src="../../assets/LS-Logo - Color.svg" alt="">
    
        <label for="email">Login:</label>
        <input placeholder="exemple@email.com" type="email" name="email" id="email">
    
        <label for="password">Senha:</label>
        <input placeholder="*******"  type="password" name="password" id="password">
    
        <button class="form-btn-login btn-lite" type="submit">Login</button>
        <hr>
        <button class="form-btn-cadastro btn-strong" onclick="openCadastro()">Cadastre-se</button>
    
    </form>
</div>

<div class="login__svg">

    <div class="login__svg-smoke">
        <img src="../../assets/smoke.svg" alt="">
    </div>
    <div class="login__svg-ship">
        <img src="../../assets/ship.svg" alt="">
    </div>
   
</div>