@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.btn-strong {
  min-height: 40px;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-weight: bold;
  padding: 0px 15px 0px 15px;
  background-color: var(--ls-btn-strong); }

.btn-lite {
  min-height: 40px;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-weight: bold;
  padding: 0px 15px 0px 15px;
  background-color: var(--ls-btn-lite); }

.btn-weak {
  min-height: 40px;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-weight: bold;
  padding: 0px 15px 0px 15px;
  background-color: var(--ls-btn-weak); }

:root {
  --ls-bg-strong: #732E82;
  --ls-bg-lite: #865192;
  --ls-bg-weak: #C4C4C4;
  --ls-btn-strong: #732E82;
  --ls-btn-strong-blur: #AB6CA2;
  --ls-btn-lite: #D6559A;
  --ls-btn-complete: #6EBD90;
  --ls-btn-weak: #C4C4C4;
  --suit-lite: #d4c0d8;
  --suit-strong: #AB6CA2;
  --s1: #E5C0B4;
  --s2: #d4a292;
  --s3: #b68575;
  --s4: #7c5345;
  --s5: #58362b;
  --H1: #181615;
  --H2: #482314;
  --H3: #d33f3f;
  --H4: #e7b240;
  --H5: #59b347;
  --H6: #4baed4;
  --H7: #eb58ae;
  --O1: #272220;
  --O2: #3f251a;
  --O3: #12487a;
  --O4: #376832;
  --O5: #7a445f;
  --smartphone: "max-width: 600px"; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main {
  width: 100%;
  height: 100%;
  background-color: var(--ls-bg-strong); }

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.show-flex {
  display: flex !important; }

.show-block {
  display: block !important; }

.visible {
  visibility: visible !important; }

.hide-fade-out {
  animation: fadeOut 0.6s both; }

.opacity-show {
  opacity: 1 !important; }

input {
  min-height: 35px;
  padding-left: 10px;
  border: 2px solid var(--ls-btn-weak);
  margin-bottom: 10px;
  border-radius: 5px; }

select {
  height: 35px;
  border: 2px solid var(--ls-btn-weak);
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px; }
  select option {
    height: 35px;
    border: 2px solid var(--ls-btn-weak); }

label {
  font-weight: bold;
  margin-bottom: 5px; }

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.avatar__head[silhuette="true"] {
  filter: brightness(0); }

.avatar__head {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .avatar__head-front {
    width: 80%;
    height: 80%;
    border-radius: 80px 80px 60px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--ls-bg-weak);
    z-index: 1;
    bottom: 9%; }
    .avatar__head-front::after {
      content: "";
      height: 20%;
      width: 25%;
      position: absolute;
      bottom: -15%;
      background-color: var(--ls-bg-weak); }
    .avatar__head-front::before {
      content: "";
      height: 15%;
      width: 40%;
      position: absolute;
      bottom: -22%;
      background-color: var(--ls-bg-weak);
      border-radius: 0 0 25px 25px; }
    .avatar__head-front .avatar__eyes {
      width: 75%;
      height: 30%;
      position: absolute;
      margin-top: 5%;
      display: flex;
      align-items: center; }
      .avatar__head-front .avatar__eyes-L {
        width: 40%;
        height: 100%;
        background-color: white;
        position: absolute;
        left: 0%;
        border-radius: 40% 50% 10% 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .avatar__head-front .avatar__eyes-L::before {
          content: "";
          width: 70%;
          height: 90%;
          border-radius: 100%;
          position: absolute;
          background-color: var(--ls-bg-lite); }
        .avatar__head-front .avatar__eyes-L::after {
          content: "";
          width: 30%;
          height: 40%;
          border-radius: 100%;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.151); }
      .avatar__head-front .avatar__eyes-R {
        width: 40%;
        height: 100%;
        background-color: white;
        position: absolute;
        right: 0%;
        border-radius: 50% 40% 50% 10%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .avatar__head-front .avatar__eyes-R::before {
          content: "";
          width: 70%;
          height: 90%;
          border-radius: 100%;
          position: absolute;
          background-color: var(--ls-bg-lite); }
        .avatar__head-front .avatar__eyes-R::after {
          content: "";
          width: 30%;
          height: 40%;
          border-radius: 100%;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.151); }
    .avatar__head-front .avatar__nose {
      width: 15%;
      height: 18%;
      position: absolute;
      bottom: 22%;
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      .avatar__head-front .avatar__nose::after {
        content: "";
        width: 100%;
        height: 50%;
        background-color: rgba(78, 8, 8, 0.363);
        border-radius: 50px;
        position: absolute; }
    .avatar__head-front .avatar__mouth {
      width: 25%;
      height: 12%;
      position: absolute;
      bottom: 7%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .avatar__head-front .avatar__mouth::after {
        content: "";
        width: 90%;
        height: 45%;
        box-sizing: border-box;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        border-left: 3px solid black;
        position: absolute;
        border-radius: 0 0 20px 20px; }
        @media (max-width: 767px) {
          .avatar__head-front .avatar__mouth::after {
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            border-left: 1px solid black; } }
    .avatar__head-front .avatar__hair {
      width: 100%;
      height: 90%;
      position: absolute;
      top: -20%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .avatar__head-back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0; }
    .avatar__head-back .avatar__ears {
      width: 100%;
      height: 20%;
      background-color: var(--ls-bg-weak);
      position: absolute;
      border-radius: 50px;
      bottom: 26%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .avatar__head-back .avatar__ears::after {
        content: "";
        height: 58%;
        width: 90%;
        background-color: rgba(65, 10, 10, 0.438);
        position: absolute;
        border-radius: 50px; }

.avatar[skin-color="s1"] .avatar__head-front {
  background-color: var(--s1); }
  .avatar[skin-color="s1"] .avatar__head-front::after {
    background-color: var(--s1); }
  .avatar[skin-color="s1"] .avatar__head-front::before {
    background-color: var(--s1); }
.avatar[skin-color="s1"] .avatar__ears {
  background-color: var(--s1); }

.avatar[skin-color="s1"] .avatar__head-front {
  background-color: var(--s1); }
  .avatar[skin-color="s1"] .avatar__head-front::after {
    background-color: var(--s1); }
  .avatar[skin-color="s1"] .avatar__head-front::before {
    background-color: var(--s1); }
.avatar[skin-color="s1"] .avatar__ears {
  background-color: var(--s1); }

.avatar[skin-color="s2"] .avatar__head-front {
  background-color: var(--s2); }
  .avatar[skin-color="s2"] .avatar__head-front::after {
    background-color: var(--s2); }
  .avatar[skin-color="s2"] .avatar__head-front::before {
    background-color: var(--s2); }
.avatar[skin-color="s2"] .avatar__ears {
  background-color: var(--s2); }

.avatar[skin-color="s3"] .avatar__head-front {
  background-color: var(--s3); }
  .avatar[skin-color="s3"] .avatar__head-front::after {
    background-color: var(--s3); }
  .avatar[skin-color="s3"] .avatar__head-front::before {
    background-color: var(--s3); }
.avatar[skin-color="s3"] .avatar__ears {
  background-color: var(--s3); }

.avatar[skin-color="s4"] .avatar__head-front {
  background-color: var(--s4); }
  .avatar[skin-color="s4"] .avatar__head-front::after {
    background-color: var(--s4); }
  .avatar[skin-color="s4"] .avatar__head-front::before {
    background-color: var(--s4); }
.avatar[skin-color="s4"] .avatar__ears {
  background-color: var(--s4); }

.avatar[skin-color="s5"] .avatar__head-front {
  background-color: var(--s5); }
  .avatar[skin-color="s5"] .avatar__head-front::after {
    background-color: var(--s5); }
  .avatar[skin-color="s5"] .avatar__head-front::before {
    background-color: var(--s5); }
.avatar[skin-color="s5"] .avatar__ears {
  background-color: var(--s5); }

.avatar__eyes[eyes-style="E1"] .avatar__eyes-R {
  border-radius: 50% 20% 50% 40%; }
.avatar__eyes[eyes-style="E1"] .avatar__eyes-L {
  border-radius: 20% 50% 40% 50%; }

.avatar__eyes[eyes-style="E2"] .avatar__eyes-R {
  border-radius: 50% 50% 15% 15%;
  height: 70%; }
  .avatar__eyes[eyes-style="E2"] .avatar__eyes-R::before {
    width: 60%;
    height: 100%; }
.avatar__eyes[eyes-style="E2"] .avatar__eyes-L {
  border-radius: 50% 50% 15% 15%;
  height: 70%; }
  .avatar__eyes[eyes-style="E2"] .avatar__eyes-L::before {
    width: 60%;
    height: 100%; }

.avatar__eyes[eyes-style="E3"] .avatar__eyes-R {
  border-radius: 50% 0% 50% 0%;
  border-top: 6px solid black;
  border-right: 4px solid black;
  height: 90%;
  width: 40%; }
  @media (max-width: 767px) {
    .avatar__eyes[eyes-style="E3"] .avatar__eyes-R {
      border-top: 3px solid black;
      border-right: 2px solid black; } }
  .avatar__eyes[eyes-style="E3"] .avatar__eyes-R::before {
    height: 100%; }
.avatar__eyes[eyes-style="E3"] .avatar__eyes-L {
  border-radius: 0% 50% 0% 50%;
  border-top: 6px solid black;
  border-left: 4px solid black;
  height: 90%;
  width: 40%; }
  @media (max-width: 767px) {
    .avatar__eyes[eyes-style="E3"] .avatar__eyes-L {
      border-top: 3px solid black;
      border-left: 2px solid black; } }
  .avatar__eyes[eyes-style="E3"] .avatar__eyes-L::before {
    height: 100%; }

.avatar__eyes[eyes-color="c1"] .avatar__eyes-R::before,
.avatar__eyes[eyes-color="c1"] .avatar__eyes-L::before {
  background-color: var(--O1); }

.avatar__eyes[eyes-color="c2"] .avatar__eyes-R::before,
.avatar__eyes[eyes-color="c2"] .avatar__eyes-L::before {
  background-color: var(--O2); }

.avatar__eyes[eyes-color="c3"] .avatar__eyes-R::before,
.avatar__eyes[eyes-color="c3"] .avatar__eyes-L::before {
  background-color: var(--O3); }

.avatar__eyes[eyes-color="c4"] .avatar__eyes-R::before,
.avatar__eyes[eyes-color="c4"] .avatar__eyes-L::before {
  background-color: var(--O4); }

.avatar__eyes[eyes-color="c5"] .avatar__eyes-R::before,
.avatar__eyes[eyes-color="c5"] .avatar__eyes-L::before {
  background-color: var(--O5); }

.avatar__nose[nose-style="N1"]::after {
  content: "";
  width: 80%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.avatar__nose[nose-style="N2"]::after {
  content: "";
  width: 80%;
  height: 70%;
  position: absolute;
  border-radius: 30%; }

.avatar__mouth[mouth-style="M1"]::after {
  content: "";
  width: 70%;
  height: 55%;
  position: absolute;
  border-radius: 0 0 20px 20px;
  background-color: white;
  border: none; }

.avatar__mouth[mouth-style="M2"]::after {
  content: "";
  width: 30%;
  height: 90%;
  position: absolute;
  border-radius: 50px;
  background-color: white;
  border: none;
  bottom: 0; }

.avatar__head .avatar__head-front .avatar__hair[hair-style="H1"]::after {
  content: "";
  width: 95%;
  height: 63%;
  position: absolute;
  border-radius: 120px 0 150px 0;
  left: 1%;
  top: 0; }
.avatar__head .avatar__head-front .avatar__hair[hair-style="H1"]::before {
  content: "";
  width: 30%;
  height: 45%;
  position: absolute;
  border-radius: 0px 30px 0px 30px;
  right: 0;
  top: 20%;
  filter: brightness(1.5); }
.avatar__head .avatar__head-front .avatar__hair[hair-style="H2"]::before {
  content: "";
  width: 85%;
  height: 30%;
  background-color: white !important;
  border-radius: 150px;
  top: 7%;
  position: absolute; }
.avatar__head .avatar__head-front .avatar__hair[hair-style="H2"]::after {
  content: "";
  width: 110%;
  height: 65%;
  background-color: var(--H1);
  position: absolute;
  top: -0%;
  border-radius: 150px 150px 0 0;
  z-index: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 76% 100%, 68% 56%, 72% 100%, 37% 100%, 39% 66%, 34% 100%, 1% 100%); }
.avatar__head .avatar__head-back .avatar__hair[hair-style="H2"]::after {
  content: "";
  width: 55%;
  height: 45%;
  background-color: var(--H1);
  position: absolute;
  top: -2%;
  right: -30%;
  transform: rotate(360deg);
  clip-path: polygon(0% 30%, 3% 21%, 8% 14%, 13% 10%, 21% 3%, 32% 1%, 42% 1%, 53% 4%, 60% 9%, 67% 17%, 73% 24%, 78% 35%, 79% 48%, 78% 68%, 77% 81%, 78% 90%, 83% 96%, 91% 100%, 74% 99%, 63% 95%, 54% 90%, 47% 83%, 40% 73%, 35% 63%, 31% 53%, 29% 44%, 25% 34%, 19% 28%, 14% 28%, 10% 31%, 8% 36%, 0% 37%); }
.avatar__head .avatar__head-back .avatar__hair[hair-style="H2"]::before {
  content: "";
  width: 55%;
  height: 45%;
  background-color: var(--H1);
  position: absolute;
  top: -2%;
  left: -30%;
  transform: rotate(360deg) scaleX(-1);
  clip-path: polygon(0% 30%, 3% 21%, 8% 14%, 13% 10%, 21% 3%, 32% 1%, 42% 1%, 53% 4%, 60% 9%, 67% 17%, 73% 24%, 78% 35%, 79% 48%, 78% 68%, 77% 81%, 78% 90%, 83% 96%, 91% 100%, 74% 99%, 63% 95%, 54% 90%, 47% 83%, 40% 73%, 35% 63%, 31% 53%, 29% 44%, 25% 34%, 19% 28%, 14% 28%, 10% 31%, 8% 36%, 0% 37%); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c1"]::after,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c1"]::after {
  background-color: var(--H1); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c1"]::before,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c1"]::before {
  background-color: var(--H1); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c2"]::after,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c2"]::after {
  background-color: var(--H2); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c2"]::before,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c2"]::before {
  background-color: var(--H2); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c3"]::after,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c3"]::after {
  background-color: var(--H3); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c3"]::before,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c3"]::before {
  background-color: var(--H3); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c4"]::after,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c4"]::after {
  background-color: var(--H4); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c4"]::before,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c4"]::before {
  background-color: var(--H4); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c5"]::after,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c5"]::after {
  background-color: var(--H5); }
.avatar__head .avatar__head-back .avatar__hair[hair-color="c5"]::before,
.avatar__head .avatar__head-front .avatar__hair[hair-color="c5"]::before {
  background-color: var(--H5); }

.avatar__body {
  display: flex;
  justify-content: center; }
  .avatar__body .body__main {
    width: 40%;
    height: 40%;
    position: absolute;
    display: flex;
    justify-content: center; }
    .avatar__body .body__main .avatar__helmet {
      width: 157%;
      height: 110%;
      background-color: var(--suit-strong);
      opacity: 0.6;
      border: 5px solid white;
      position: absolute;
      border-radius: 200px;
      z-index: 1;
      top: -106%; }
      @media (max-width: 767px) {
        .avatar__body .body__main .avatar__helmet {
          border: 2px solid white; } }
      .avatar__body .body__main .avatar__helmet::after {
        content: '';
        width: 60%;
        height: 60%;
        border-radius: 100px;
        background-color: var(--suit-strong);
        position: absolute;
        top: 7%;
        right: 7%;
        filter: brightness(1.05); }
    .avatar__body .body__main .avatar__suit {
      width: 80%;
      height: 100%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 50px 50px 100px 100px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .avatar__body .body__main .avatar__suit::after {
        content: '';
        width: 90%;
        height: 5%;
        background-color: var(--suit-strong);
        position: absolute;
        top: -2.5%;
        border-radius: 20px; }
      .avatar__body .body__main .avatar__suit-detail {
        width: 100%;
        height: 15%;
        background-color: var(--suit-lite);
        filter: brightness(0.9);
        display: flex;
        align-items: center;
        justify-content: center; }
        .avatar__body .body__main .avatar__suit-detail::after {
          content: '';
          width: 30%;
          height: 90%;
          background-color: var(--suit-lite);
          position: absolute;
          border-radius: 10px;
          border: 8px solid var(--suit-strong); }
          @media (max-width: 767px) {
            .avatar__body .body__main .avatar__suit-detail::after {
              border: 4px solid var(--suit-strong);
              border-radius: 3px; } }
    .avatar__body .body__main .avatar__arm-R {
      width: 70%;
      height: 20%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      right: -30%;
      transform-origin: 20% center; }
    .avatar__body .body__main .avatar__arm-L {
      width: 70%;
      height: 20%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      left: -30%;
      transform-origin: 80% center; }
    .avatar__body .body__main .avatar__forearm-R {
      width: 100%;
      height: 100%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      right: -60%;
      transform-origin: 20% center; }
    .avatar__body .body__main .avatar__forearm-L {
      width: 100%;
      height: 100%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      left: -60%;
      transform-origin: 80% center; }
    .avatar__body .body__main .avatar__hand-R {
      width: 50%;
      height: 100%;
      background-color: var(--suit-strong);
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: -10%;
      transform-origin: 20% center;
      border-radius: 0 30% 30% 0; }
      .avatar__body .body__main .avatar__hand-R i:nth-child(1) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        right: -45%;
        border-radius: 30px;
        top: 0; }
      .avatar__body .body__main .avatar__hand-R i:nth-child(2) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        right: -45%;
        border-radius: 30px; }
      .avatar__body .body__main .avatar__hand-R i:nth-child(3) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        right: -45%;
        border-radius: 30px;
        bottom: 0; }
      .avatar__body .body__main .avatar__hand-R i:nth-child(4) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        right: -45%;
        border-radius: 30px;
        top: -5%;
        left: 45%;
        height: 40%;
        width: 65%;
        border-radius: 20px;
        transform-origin: left center;
        transform: rotate(-45deg); }
    .avatar__body .body__main .avatar__hand-L {
      width: 50%;
      height: 100%;
      background-color: var(--suit-strong);
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: -10%;
      transform-origin: 80% center;
      border-radius: 30% 0 0 30%; }
      .avatar__body .body__main .avatar__hand-L i:nth-child(1) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        left: -45%;
        border-radius: 30px;
        top: 0; }
      .avatar__body .body__main .avatar__hand-L i:nth-child(2) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        left: -45%;
        border-radius: 30px; }
      .avatar__body .body__main .avatar__hand-L i:nth-child(3) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        left: -45%;
        border-radius: 30px;
        bottom: 0; }
      .avatar__body .body__main .avatar__hand-L i:nth-child(4) {
        width: 70%;
        height: 25%;
        background-color: var(--suit-strong);
        position: absolute;
        left: -45%;
        border-radius: 30px;
        margin-left: auto;
        top: -5%;
        right: 45%;
        height: 40%;
        width: 65%;
        border-radius: 20px;
        transform-origin: right center;
        transform: rotate(45deg); }
    .avatar__body .body__main .avatar__leg-R {
      width: 30%;
      height: 70%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      bottom: -30%;
      transform-origin: center 15%;
      right: 10%; }
    .avatar__body .body__main .avatar__leg-L {
      width: 30%;
      height: 70%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      bottom: -30%;
      transform-origin: center 15%;
      left: 10%; }
    .avatar__body .body__main .avatar__tibia-R {
      width: 100%;
      height: 100%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      bottom: -70%;
      transform-origin: center 15%; }
    .avatar__body .body__main .avatar__tibia-L {
      width: 100%;
      height: 100%;
      background-color: var(--suit-lite);
      position: absolute;
      border-radius: 150px;
      bottom: -70%;
      transform-origin: center 15%; }
    .avatar__body .body__main .avatar__feet-R {
      width: 100%;
      height: 40%;
      background-color: var(--suit-strong);
      position: absolute;
      transform-origin: 20% center;
      bottom: -2%; }
      .avatar__body .body__main .avatar__feet-R::after {
        content: "";
        width: 90%;
        height: 30%;
        position: absolute;
        bottom: 0;
        background-color: var(--suit-strong); }
      .avatar__body .body__main .avatar__feet-R::after {
        right: -40%;
        border-radius: 0 100px 0 0; }
    .avatar__body .body__main .avatar__feet-L {
      width: 100%;
      height: 40%;
      background-color: var(--suit-strong);
      position: absolute;
      transform-origin: 20% center;
      bottom: -2%; }
      .avatar__body .body__main .avatar__feet-L::after {
        content: "";
        width: 90%;
        height: 30%;
        position: absolute;
        bottom: 0;
        background-color: var(--suit-strong); }
      .avatar__body .body__main .avatar__feet-L::after {
        right: -40%;
        border-radius: 0 100px 0 0; }

.avatar[pose="floating"] .avatar__arm-R {
  transform: rotate(40deg); }
.avatar[pose="floating"] .avatar__arm-L {
  transform: rotate(-10deg); }
.avatar[pose="floating"] .avatar__forearm-R {
  transform: rotate(-60deg); }
.avatar[pose="floating"] .avatar__forearm-L {
  transform: rotate(40deg); }
.avatar[pose="floating"] .avatar__leg-R {
  transform: rotate(-25deg); }
.avatar[pose="floating"] .avatar__leg-L {
  transform: rotate(-5deg); }
.avatar[pose="floating"] .avatar__tibia-R {
  transform: rotate(20deg); }
.avatar[pose="floating"] .avatar__tibia-L {
  transform: rotate(25deg); }

.cadastro {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex; }
  @media (max-width: 767px) {
    .cadastro {
      flex-direction: column; } }
  .cadastro__svg {
    height: 100%;
    width: 30%;
    border: 1px solid #55ffaa;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    @media (max-width: 767px) {
      .cadastro__svg {
        width: 100%;
        height: 30%; } }
    @media (max-width: 1080px) and (min-width: 768px) {
      .cadastro__svg {
        width: 40%;
        height: 100%; } }
    .cadastro__svg picture {
      border: 1px solid #5eff00;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .cadastro__svg picture header {
        width: 10vw;
        height: 10vw; }
      .cadastro__svg picture footer {
        width: 25vw;
        height: 25vw; }
  .cadastro__form {
    height: 100%;
    width: 70%;
    border: 1px solid red;
    background-color: white;
    z-index: 1; }
    @media (max-width: 767px) {
      .cadastro__form {
        width: 100%;
        height: 70%; } }
    @media (max-width: 1080px) and (min-width: 768px) {
      .cadastro__form {
        width: 60%;
        height: 100%; } }

.login {
  background-color: var(--ls-bg-strong);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden; }
  .login__form {
    background-color: white;
    height: 100%;
    width: 30%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; }
    @media (max-width: 767px) {
      .login__form {
        height: 60%;
        width: 100%;
        bottom: 0;
        border-radius: 100px 100px 0 0; } }
    @media (max-width: 1080px) and (min-width: 768px) {
      .login__form {
        height: 100%;
        width: 50%; } }
    .login__form form {
      height: 65vh;
      width: 80%;
      position: absolute;
      z-index: 1;
      margin-left: 5vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
      padding: 2%; }
      @media (max-width: 767px) {
        .login__form form {
          height: 40vh;
          width: 80%; } }
      .login__form form button {
        width: 130px;
        margin-left: auto;
        margin-right: auto; }
      .login__form form .btn-lite {
        margin-top: 20px; }
      .login__form form hr {
        margin: 20px 0px 20px 0px;
        border-top: 1px solid var(--ls-bg-strong);
        display: flex;
        align-items: center;
        justify-content: center; }
        .login__form form hr::after {
          content: "OU";
          font-size: 1em;
          position: absolute;
          background-color: white;
          padding: 0px 5px 0px 5px;
          color: var(--ls-bg-strong); }
      .login__form form img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px; }
  .login__svg {
    height: 100%;
    width: 70%;
    position: absolute;
    left: 30%;
    display: flex;
    align-items: center; }
    @media (max-width: 767px) {
      .login__svg {
        height: 40%;
        width: 100%;
        bottom: 60%;
        left: 0; } }
    @media (max-width: 1080px) and (min-width: 768px) {
      .login__svg {
        height: 100%;
        width: 50%;
        left: 50%; } }
    .login__svg-ship {
      width: 30%;
      height: auto;
      position: absolute;
      right: 0; }
      @media (max-width: 767px) {
        .login__svg-ship {
          height: 30%;
          width: 100%;
          top: 0;
          display: flex;
          justify-content: center; } }
      .login__svg-ship img {
        margin-left: -50px;
        width: 90%; }
        @media (max-width: 767px) {
          .login__svg-ship img {
            height: 100%;
            width: 50%;
            transform: rotate(270deg);
            margin-top: 70px;
            margin-left: inherit; } }
    .login__svg-smoke {
      width: 70%;
      height: auto;
      position: absolute;
      left: 0; }
      @media (max-width: 767px) {
        .login__svg-smoke {
          height: 70%;
          width: 100%;
          bottom: 0; } }
      .login__svg-smoke img {
        z-index: 0;
        margin-left: -2px; }
        @media (max-width: 767px) {
          .login__svg-smoke img {
            transform: rotate(270deg);
            margin-bottom: 0px; } }

/*# sourceMappingURL=components.css.map */
